[2019-05-31 14:31] fbogsany opened #6 "SDK: Thread safety"
[LightStep's Ruby gem](https://github.com/lightstep/lightstep-tracer-ruby) is thread-safe. For example, spans can be modified concurrently in different threads (adding tags, logs, etc.).

The [OpenCensus Ruby gem](https://github.com/census-instrumentation/opencensus-ruby) is not thread-safe. Spans cannot be safely shared between threads.

Should we support this use-case (concurrent modification of

[2019-05-31 14:35] fbogsany opened #7 "SDK: fork safety"
[LightStep's Ruby gem](https://github.com/lightstep/lightstep-tracer-ruby) is fork-safe. If a process forks, spans already buffered in memory by the parent process are not exported by the child process.

Do we want to support `fork()`? Doing so brings some complexity. It isn't clear that common use-cases for tracing require it.

[2019-05-31 14:40] bogdandrutu commented on #6
I would suggest that we need to be thread safe.

[2019-05-31 14:41] bogdandrutu commented on #7
New in Ruby world is this a classic fork and exec pattern?

[2019-05-31 14:46] fbogsany opened #8 "SDK: post-request vs immediate export"
The [OpenCensus gem](https://github.com/census-instrumentation/opencensus-ruby) buffers spans during a request (for Rack apps) and exports them when the request has completed. This means finished child spans of long requests will not be available for analysis until the request finishes.

Should we wait for request completion to export all child spans, or should spans be exported as they finish?

[2019-05-31 14:58] fbogsany opened #9 "SDK: auto-instrumentation via ActiveSupport::Notification"
ActiveSupport::Notification is a common mechanism for instrumenting a Rails application. Its API is a bit of a mess, though. For example, the `payload` can be modified by subscribers, and between calls to `start` and `finish`, so care has to be taken to only copy attributes from the `payload` in `finish`. Also, calls to `start` may not be paired with calls to `finish` if (another) subscriber raise

[2019-06-04 15:05] fbogsany opened #10 "SDK: supported versions of Ruby"
What versions/implementations of Ruby should we support?
* MRI 2.5.0 and newer? In general, N-1?
* JRuby?
* Graal/Truffle?

[2019-06-05 18:20] indrekj commented on #9
I don't think this library itself should depend directly on the activesupport library. I'd rather see sepate gems that allow adding instrumentation support for different libraries using this library. E.g. In open tracing case I made a [ruby-activerecord-opentracing](https://github.com/salemove/ruby-activerecord-opentracing) library which can be used to add instrumentation support for activerecord

[2019-06-05 18:23] indrekj commented on #10
In MRI case probably same as in https://www.ruby-lang.org/en/downloads/branches/ `normal maintenance`, maybe `security maintenance` as well. Don't really see a point supporting versions that are not supported by the ruby-core team.

[2019-06-05 20:34] indrekj commented on #7
Had to do something similar in the [Jaeger](https://github.com/salemove/jaeger-client-ruby/blob/master/lib/jaeger/reporters/remote_reporter.rb#L29) ruby gem. I didn't need this myself, but it seems that pre-forking app servers is common and some people do find it useful.

[2019-06-06 03:14] fbogsany commented on #7
There's a few challenges with `fork()` and tracing:
1. Exporters using gRPC (such as the OpenCensus agent exporter) will need to carefully close and reopen connections to avoid crashing in the child process.
2. Either the global PRNG (`Random::DEFAULT`) will need to be used everywhere or any other `Random` instance will need to be reseeded after `fork()`. MRI reseeds the global instance at fork, b

[2019-06-06 03:21] fbogsany commented on #9
We've had a lot of success with auto-instrumentation of all common frameworks and services at Shopify, in our internal tracing gem. This can be accomplished without adding unused gems as dependencies. The trick is to rescue load errors from the adapters. Our initializer looks like:

[code]

[2019-06-14 03:14] fbogsany commented on #10
+1 for `normal maintenance` for MRI

[2019-07-03 16:01] luvtechno opened #13 "SDK/API packaging"
This is a follow-up from [a meeting on June 26th, 2019](https://docs.google.com/document/d/1D15bO8o340sQm2CVZiukEJuCO_XMMHKPuTznoEhyFqE/edit#).

We’ll need to decide how we’ll package/gemify API and SDK in the Ruby lib. [OpenTelemetry Language Library Design Principles](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/library-guidelines.md) describes requirem

[2019-07-11 15:40] fbogsany opened #14 "API: decide what to do for invalid arguments"
I'm not sure what we should do for invalid arguments in the minimal implementation, and am somewhat torn on the issue.

I just wanted to point out that there is a proposal currently in PR form here: https://github.com/open-telemetry/opentelemetry-specification/pull/153.

There seem to be various opinions as you read through the comments. This [comment](https://github.com/open-telemetry/opentelemet

[2019-07-11 18:01] fbogsany opened #15 "API: SpanData should only expose enumerators for collections"
I really like this idea. I think the no-op implementation should try to expose the smallest possible interface. That will help users ensure their usage is correct (e.g. they aren't inadvertently depending on the returned objects implementing obscure methods of Array or Hash), and relieve implementors of the burden of implementing a larger surface.

_Originally posted by @dazuma in https://github.c

[2019-07-17 01:15] mwear opened #19 "Instrumentation Packaging and Installation"
# Third Party Instrumentation Proposal for OpenTelemetry Ruby

## Overview

There is an [RFC for auto-instrumentation](https://github.com/open-telemetry/rfcs/blob/master/0002-telemetry-without-manual-instrumentation.md) and this document describes a possible approach that we could use for managing instrumentation for the OpenTelemetry Ruby Project.

### Packaging

* Instrumentation should be packa

[2019-07-17 16:22] indrekj commented on #19
So currently the user needs to do:
* Set up tracer implementation `tracer = TracerImplementation.new`
* Set the global tracer `OpenTelemetry.tracer = tracer`
* Install extensions `OpenTelemetry::Instrumentation.install`

I wonder if we could merge steps two and three. Maybe something like
[code]
which does both steps. We'd still need the underlying methods to support multiple tracers per app.

I'm

[2019-07-17 16:26] indrekj opened #20 "Enable CI integration"
PRs should be checked with a CI tool (e.g. travis, circleci, etc) to avoid pushing breaking changes to master. The api has `bundle exec rake` command to run tests and rubocop.

[2019-07-17 16:36] fbogsany commented on #19
Is multiple tracers per app a requirement? The API doesn't appear to support this at present.

[2019-07-17 16:45] indrekj commented on #19
Not entirely sure. I myself haven't needed it in a real app. It does have some benefits though. E.g. it makes testing easier. [Here](https://github.com/salemove/jaeger-client-ruby/blob/master/script/create_trace#L11-L12) I have a simple script that creates two tracers and creates a quick trace.

[2019-07-17 16:46] fbogsany commented on #19
Likewise for the distributed context API, and logging once we get there. Ideally, we could find a suitable lifecycle hook that'd let us initialize all the components, so we'd have something like:

[code]

Where we call `instrumentation.install` from `install_instrumentation` instead of `instrumentation.install tracer`, and the instrumentation's `install` method retrieves the components it needs fr

[2019-07-17 16:49] fbogsany commented on #19
Interesting. In that case, the tracers aren't registered as *the* tracer, but I guess you still want them to install the instrumentation.

Perhaps it makes more sense to have a global registry of instrumentation in the API, and a hook (or component-specific hooks) that can be called for non-global components (like your 2 tracer example above)?

[2019-07-17 16:53] mwear commented on #19
[code]

I like this idea a lot. We might find other things that need to happen at this point in the application that we can facilitate with this method as well.

We could possibly have a configure block that will setup the tracer, meter, logger, etc, and install instrumentation afterwards. It could yield them individually to the block, or the block could possibly just reference them off the OpenTe

[2019-07-17 17:03] mwear commented on #19
In terms of multiple tracer support. I think having a configure block that will by default install instrumentation using the tracer that is being configured will solve the majority of use cases. For people who want a more fine-grained tracer approach, this will probably require some custom code on behalf of the user. Since we do effectively have an instrumentation registry with this design, we can

[2019-07-17 17:23] indrekj commented on #19
Also one thing to consider is that not all instrumentations can be applied globally. This works fine for activerecord, but e.g. rack expects a middleware. With opentracing we did it like https://github.com/opentracing-contrib/ruby-rack-tracer . Faraday had something similar https://github.com/opentracing-contrib/ruby-faraday-tracer . In rack case it used the global tracer by default, but it was al

[2019-07-17 17:56] mwear commented on #20
Does anyone have a preference for which CI tool we should use?

[2019-07-17 18:12] mwear commented on #19
There might be a class of instrumentation that is not auto-installable. We can decide if it makes sense to have them subclass `OpenTelemetry::Instrumentation` so that the SDK is aware of the instrumentation, even if it can't install it. If we decide that would be useful, we can add an additional `auto_installable` flag to the DSL.

[2019-07-17 19:25] fbogsany commented on #20
Java, Python, Protobuf and Service projects are all on TravisCI: https://travis-ci.org/open-telemetry

[2019-07-18 02:55] #20 closed

[2019-07-18 17:02] indrekj opened #22 "Span#set_attribute with strings & symbols"
[Span#set_attribute](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/api/lib/opentelemetry/trace/span.rb#L21) currently accepts both symbols and strings for both keys and values.

We had a similar discussion here: https://github.com/opentracing/opentracing-ruby/issues/35 and went with only strings. Currently we can still decide what's the best approach.

The problem with allowing

[2019-07-23 19:20] mwear commented on #22
As the person who opened that issue, I'll add a few comments here. The [OpenTracing Issue](https://github.com/opentracing/opentracing-ruby/issues/35) is worth reading. I really want to be able to use symbols in methods like `set_attribute`. They are the most natural and idiomatic code to write as a Rubyist. However, this flexibility comes at a pretty big penalty, both in terms of API complexity (f

[2019-07-31 20:18] mwear commented on #22
We discussed this at the SIG meeting and I wanted to summarize what we talked about.

With the flexibility of accepting strings or symbols for attribute keys / values comes some complications:

* string allocations - Symbols will need to be converted to strings at serialization time
* key clashes - what happens when both a string and symbol key is specified with an equivalent representation, i.e.

[2019-08-06 18:59] fbogsany opened #25 "API: Resource Create recommended to be a factory method"
The [Resource spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-resources.md#create) recommends `Create` be a factory method:

It is currently implemented as a constructor, which is permitted by the spec. We should consider whether caching is useful in this context. Specifically, https://github.com/open-telemetry/rfcs/pull/8 suggests removing `SpanDa

[2019-08-06 19:06] fbogsany opened #26 "API: overwrite empty Resource labels when merging"
The [Resource spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-resources.md#merge) indicates:

The current implementation always overwrites, and is incorrect anyway.

Likely fixed by #24

[2019-08-06 19:09] fbogsany opened #27 "API: consider adding an empty Resource"
The [Resource spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-resources.md#the-empty-resource) states:

Should we add a `Resource::EMPTY` constant? As with #25 it isn't clear if this has value, if `Resource` is only attached to a `Tracer`, and `SpanData` is removed.

[2019-08-07 02:03] mwear commented on #27
If it has value, we should add it, otherwise we can save on memory overhead by omitting it.

[2019-08-07 12:15] fbogsany opened #28 "API: implement DistributedContext"

[2019-08-07 12:16] fbogsany opened #29 "API: implement BinaryFormat"

[2019-08-07 12:17] fbogsany opened #30 "API: implement HTTPTextFormat"

[2019-08-07 12:19] fbogsany opened #31 "API: remove SpanData and Tracer.record_span_data"
If/when https://github.com/open-telemetry/rfcs/pull/8 is merged.

[2019-08-07 12:22] fbogsany opened #32 "API: add optional start time, resource and span ID to Tracer.start_span, .in_span and .start_root_span"
If/when https://github.com/open-telemetry/rfcs/pull/8 is merged.

[2019-08-07 12:28] fbogsany opened #33 "API: implement Status"
[Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#status)

[2019-08-07 12:30] fbogsany opened #34 "API: add optional end timestamp to Span#finish"
If/when https://github.com/open-telemetry/rfcs/pull/8 is merged.

[2019-08-07 12:37] fbogsany opened #35 "API: change Span.add_link and Span.add_event to only accept Hash<String, *>"
For consistency with #22

[2019-08-07 12:40] fbogsany opened #36 "API: implement Span.add_lazy_event"
[Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-events). Need to decide whether to provide an `Event` interface or a concrete `Event` class and an `EventFormatter`.

[2019-08-07 12:41] fbogsany opened #37 "API: implement Span.add_lazy_link"
[Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-tracing.md#add-links). Need to decide whether to provide a `Link` interface or a concrete `Link` class and a `LinkFormatter`.

[2019-08-07 12:46] fbogsany opened #38 "API: implement Sampling API"
[Spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-sampling.md)

[2019-08-07 13:00] fbogsany opened #39 "API: constrain measure names to be printable and 255 chars or less"
The [Java API](https://github.com/open-telemetry/opentelemetry-java/blob/861f4e6c551f560c03d69a34829dcdd13461493b/api/src/main/java/io/opentelemetry/metrics/DefaultMeter.java#L78-L83) constrains measure names to be printable and <= 255 chars. This isn't part of the spec, but perhaps it is supposed to be?

[2019-08-07 13:01] fbogsany opened #40 "API: test all the things"

[2019-08-07 13:01] fbogsany opened #41 "API: document all the things"

[2019-08-07 13:02] fbogsany commented on #15
Close this if #31 is implemented.

[2019-08-07 13:04] fbogsany commented on #27
It's probably going to be useful. https://github.com/open-telemetry/rfcs/pull/8 adds an optional resource parameter to span creation.

[2019-08-07 18:18] fbogsany commented on #27
From the discussion on today's SIG call, I'm now leaning toward YAGNI. This part of the spec is still in flux, and it isn't clear that an empty Resource is useful.

Any objections to closing this issue?

[2019-08-07 18:40] fbogsany commented on #28
Implemented in #18

[2019-08-07 18:40] #28 closed

[2019-08-07 18:41] fbogsany commented on #29
Implemented in #18

[2019-08-07 18:41] #29 closed

[2019-08-07 19:20] mwear opened #43 "API: Retrieve Resource labels"
There has been some discussion on #24 about the best way to expose labels from the Resource API. This is covered in the [retrieve labels](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/api-resources.md#retrieve-labels) section of the Resource spec.

We are currently exposing an enumerator and not the underlying frozen hash of labels. Exposing the underlying

[2019-08-07 19:33] fbogsany commented on #25
Fixed in #24

[2019-08-07 19:33] #25 closed

[2019-08-07 19:33] fbogsany commented on #26
Fixed in #24

[2019-08-07 19:33] #26 closed

[2019-08-07 20:09] fbogsany opened #46 "API: remove tracestate"
See https://github.com/open-telemetry/opentelemetry-specification/pull/198

[2019-08-07 20:15] fbogsany opened #48 "Cleanup api/test directory"
api/test/opentracing/trace should be api/test/opentelemetry/trace
api/test/resources should be api/test/opentelemetry/resources
api/test/opentracing_test.rb should be api/test/opentelemetry_test.rb

[2019-08-07 22:37] mwear commented on #39
I noticed similar restrictions in the [Java Resource](https://github.com/open-telemetry/opentelemetry-java/blob/master/api/src/main/java/io/opentelemetry/resources/Resource.java#L38-L42) implementation. I would say we should only add them if they are intended to be part of the spec.

[2019-08-07 22:38] mwear commented on #39
Is this worthy of the question label? I added it because I think it probably is.

[2019-08-08 00:35] #31 closed

[2019-08-08 00:36] #35 closed

[2019-08-08 00:47] #46 closed

[2019-08-08 00:48] #48 closed

[2019-08-08 00:49] fbogsany commented on #22
Implemented suggestion (remove Symbol support) in #45

[2019-08-08 00:49] #22 closed

[2019-08-08 00:50] fbogsany commented on #15
Implemented #31, so closing this.

[2019-08-08 00:50] #15 closed

[2019-08-08 01:10] fbogsany opened #50 "API: cleanup SpanContext and Span (parent ID vs span ID)"
There's a lot of confusion in the implementations for other languages around `SpanContext` and `Span`. We've inherited that confusion. At present, the `Span` has no representation of "parent span", and we use the `SpanContext` (if provided) unchanged as this span's context, when it is actually meant to be the parent context. I believe the expected transformation is:

[code]

[2019-08-10 15:41] luong-komorebi commented on #10
+1 for security maintenance for MRI. For JRuby and Grall, let's consider them later since they already have the capability of running java code from Ruby
https://github.com/oracle/truffleruby/blob/master/doc/user/jruby-migration.md#using-java-from-ruby
https://github.com/jruby/jruby/wiki/CallingJavaFromJRuby

[2019-08-10 15:43] luong-komorebi commented on #6
+1 for this usecase

[2019-08-11 04:50] luong-komorebi commented on #6
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/concurrency.md

[2019-08-15 03:58] #33 closed

[2019-08-20 00:08] mwear commented on #37
The specification doesn't define the API for a `LinkFormatter`, so I'm not sure what a concrete `Link` class with a `LinkFormatter` would look like. I opened this issue for clarification: https://github.com/open-telemetry/opentelemetry-specification/issues/222.

[2019-08-20 00:09] mwear commented on #36
Similarly to `Link`, the specification doesn't define the API for an `EventFormatter`, so I'm not sure what a concrete `Event` class with an `EventFormatter` would look like. I opened this issue for clarification: https://github.com/open-telemetry/opentelemetry-specification/issues/222.

[2019-09-06 15:12] ibawt commented on #34
This can be closed.

[2019-09-06 15:12] ibawt commented on #32
this can be closed as well.

[2019-09-06 15:14] fbogsany commented on #32
Fixed in #53

[2019-09-06 15:14] #32 closed

[2019-09-06 15:15] fbogsany commented on #34
Fixed in #53

[2019-09-06 15:15] #34 closed

[2019-09-06 17:56] #37 closed

[2019-09-08 14:29] benedictfischer09 commented on #6
The spec has info about which apis must be threadsafe and which are not https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/concurrency.md

[2019-09-08 14:43] benedictfischer09 commented on #8
I would think the agent should operate in its own thread or process and have no knowledge of the thread that generated the span, whether that is a http request or some other process like a background job.  As spans are placed onto the buffer in the agent thread it should have some strategy for flushing the buffer, probably a combination of hitting a max number of messages or a max time delay.

[2019-09-08 14:51] benedictfischer09 commented on #9
I agree with @indrekj that keeping the OpenTelemetry sdk and instrumentation libraries as separate projects is a good idea.  I could definitely imagine a popular gem that provides the auto-instrumentation you are suggesting @fbogsany many people would probably find it useful

[2019-09-08 15:16] benedictfischer09 commented on #19
@mwear what would you think about encouraging instrumentation authors to not add the library they are instrumenting as a dependency? The benefit of doing that is you can have a tool that auto-instruments whatever libraries it detects are loadable and skip over other libraries.  The alternatives are 1) having apps manually list out all of the instrumentation gems they want to use 2) auto instrument

[2019-09-09 00:34] fbogsany commented on #6
Yep, this issue predated the spec’s text on thread safety. Closing.

[2019-09-09 00:34] #6 closed

[2019-09-09 00:37] fbogsany commented on #8
The spec is clear on non blocking requirements around span export. The supporting mechanism will be BatchSampledSpanProcessor, for exporters that want to export batches asynchronously.

[2019-09-09 00:37] #8 closed

[2019-09-09 00:40] fbogsany commented on #9
#19 subsumes the registration aspects of this issue. We won’t take a dependency on ActiveSupport in the API or SDK gems. I think this issue is out of scope for this project.

[2019-09-09 00:40] #9 closed

[2019-09-09 00:43] fbogsany commented on #10
Shopify has a need to support both JRuby and TruffleRuby. The former is already targeted by CI. I’ll add TruffleRuby as well.

[2019-09-09 02:41] mwear commented on #19
There are pros and cons to specifying the library version as a dependency. Except in rare cases, instrumentation is only to be compatible certain versions of the instrumented library and a version check has to happen somewhere.

By making the instrumented library a dependency we can lean on Bundler to resolve them and report incompatibilities. One huge benefit, is that users will discover incompat

[2019-09-09 14:31] fbogsany opened #64 "SDK: Implement BatchSampledSpanProcessor"
https://github.com/open-telemetry/opentelemetry-ruby/blob/master/sdk/lib/opentelemetry/sdk/trace/export/batch_sampled_span_processor.rb

[2019-09-09 14:32] fbogsany opened #65 "SDK: Implement Span"
https://github.com/open-telemetry/opentelemetry-ruby/blob/master/sdk/lib/opentelemetry/sdk/trace/span.rb

[2019-09-09 14:32] fbogsany opened #66 "SDK: implement TimedEvent"
https://github.com/open-telemetry/opentelemetry-ruby/blob/master/sdk/lib/opentelemetry/sdk/trace/timed_event.rb

[2019-09-09 14:34] fbogsany opened #67 "Instrumentation: port Datadog's auto-instrumentation libraries"
See https://github.com/open-telemetry/oteps/pull/41
Relevant code is here: https://github.com/DataDog/dd-trace-rb (instrumentation here: https://github.com/DataDog/dd-trace-rb/tree/master/lib/ddtrace/contrib).

[2019-09-09 14:36] fbogsany opened #68 "SDK: use logger"
Once #62 🚢

[2019-09-09 15:52] fbogsany commented on #19
Relevant: #67. https://github.com/open-telemetry/oteps/pull/41 proposes to use https://github.com/DataDog/dd-trace-rb as the basis for auto-instrumentation. I have not 👀 at the code closely.

[2019-09-10 02:40] #36 closed

[2019-09-10 16:35] fbogsany commented on #64
Roughly model on the Java implementation here: https://github.com/open-telemetry/opentelemetry-java/blob/master/sdk/src/main/java/io/opentelemetry/sdk/trace/export/BatchSampledSpansProcessor.java

[2019-09-10 18:32] mwear opened #73 "API: Propagate tracestate"
There was a  PR to [temporarily remove `tracestate`](https://github.com/open-telemetry/opentelemetry-specification/pull/198). It was opened due to confusion around what context belongs in tracestate, but ultimately never merged. The [Context Propagation OTEP](https://github.com/open-telemetry/oteps/pull/42) provides the necessary layers for the different types of context that users can interact wi

[2019-09-10 21:41] fbogsany commented on #73
The spec states:

`SpanContext` is specified in the API, and currently contains the `tracestate`. How should this be hidden from the API but exposed (possibly) in the SDK and propagated?

[2019-09-11 00:34] mwear commented on #73
Those words are from the [meeting notes](https://docs.google.com/document/d/12AAIbnkt_AH1YjZwUwxirX_7WA7aWOSXpDweCgfqIiQ/edit#) on 2019-09-10. I believe the intent is that trace state is for context needed for a tracing vendor and not for end users. So, it does need to be exposed on the SpanContext so that tracing vendors other SDK implementations can interact with it, but it should not be exposed

[2019-09-12 17:36] fbogsany opened #77 "Add CI, either Circle or Travis"
We have a `.travis.yml` that *should* enable TravisCI for this project, but actually turning it on requires admin access to Travis (or to the open-telemetry org on Github - I'm not clear which). None of the primary contributors to this project have that access.

@SergeyKanzhelev or @bogdandrutu can you please enable this?

Alternatively, if the preference is to use CircleCI, can you please enable

[2019-09-16 02:21] fbogsany commented on #64
#74

[2019-09-16 02:22] fbogsany commented on #65
#72

[2019-09-16 02:23] fbogsany commented on #68
Also done in #72

[2019-09-16 02:24] fbogsany commented on #66
Replaced in #72

[2019-09-16 02:24] #66 closed

[2019-09-16 02:33] fbogsany commented on #27
Resources are moved from the API to the SDK as part of the OTEP to [remove out-of-band reporting](https://github.com/open-telemetry/oteps/blob/master/text/0007-no-out-of-band-reporting.md#resource-changes). So YAGNI.

[2019-09-16 02:33] #27 closed

[2019-09-16 02:34] fbogsany commented on #30
Implemented in #55

[2019-09-16 02:34] #30 closed

[2019-09-16 02:35] fbogsany commented on #50
#72 includes this cleanup

[2019-09-16 02:38] fbogsany opened #80 "API: Revisit metrics when OTEPs are approved"
https://github.com/open-telemetry/oteps/blob/master/text/0003-measure-metric-type.md

https://github.com/open-telemetry/oteps/blob/master/text/0008-metric-observer.md

https://github.com/open-telemetry/oteps/blob/master/text/0009-metric-handles.md

[2019-09-16 02:39] fbogsany opened #81 "SDK: implement metrics when OTEPs are approved"
See #80 for API side of this.

[2019-09-16 02:46] fbogsany opened #82 "SDK: integration tests"
We need integration tests in the SDK gem to exercise the integration between the API and the SDK. A good structure for this is probably a method that, for example, traces a bunch of operations in different ways (root spans, child-of-remote spans, child-of-local spans, with and without links, etc.), and then a bunch of tests that configure the global tracer in different ways, call the tracing metho

[2019-09-16 02:46] fbogsany commented on #82
This will also serve to explore the ergonomics of the API.

[2019-09-16 02:48] fbogsany opened #83 "SDK: move Resource from API to SDK"
See https://github.com/open-telemetry/oteps/blob/master/text/0007-no-out-of-band-reporting.md#resource-changes

[2019-09-16 02:57] fbogsany opened #84 "SDK: test exporters and processors"
Empty tests:
- [ ] https://github.com/open-telemetry/opentelemetry-ruby/blob/master/sdk/test/opentelemetry/sdk/trace/noop_span_processor_test.rb
- [ ] https://github.com/open-telemetry/opentelemetry-ruby/blob/master/sdk/test/opentelemetry/sdk/trace/multi_span_processor.rb (file misnamed)
- [ ] https://github.com/open-telemetry/opentelemetry-ruby/blob/master/sdk/test/opentelemetry/sdk/trace/export/

[2019-09-16 02:59] fbogsany opened #85 "API: revisit distributed context when OTEP is approved"
https://github.com/open-telemetry/oteps/pull/42

[2019-09-16 16:20] fbogsany opened #87 "Exporters: implement Jaeger exporter"

[2019-09-16 16:21] fbogsany opened #88 "Exporters: implement Prometheus exporter"

[2019-09-16 16:22] fbogsany opened #89 "Exporters: implement OpenTelemetry protocol exporter"

[2019-09-16 16:24] fbogsany opened #90 "Implement OpenCensus compatibility shim"
Note that the OpenCensus implementation for Ruby was incomplete - in particular, it lacked metrics and exporter support. Do we need to implement an OC shim? Does it need to support metrics?

[2019-09-16 16:24] fbogsany opened #91 "Implement OpenTracing compatibility shim"

[2019-09-16 16:26] fbogsany opened #92 "Documentation: write Getting Started guide"

[2019-09-16 16:26] fbogsany opened #93 "Documentation: write Installation guide"

[2019-09-16 16:27] fbogsany opened #94 "Release management"
Automate or document build and release process (Rubygems, etc.)

[2019-09-16 16:29] fbogsany opened #95 "Documentation: publish API docs"
Docs are generated using YARD. How and where do we publish these?

API docs could also use a review pass for consistency, completeness and grammar.

[2019-09-16 16:30] fbogsany opened #96 "Code examples: gRPC instrumentation example"

[2019-09-16 16:30] fbogsany opened #97 "Code examples: HTTP client and server instrumentation examples"

[2019-09-16 16:32] #40 closed

[2019-09-16 16:32] #41 closed

[2019-09-16 16:32] fbogsany commented on #41
Closed in favour of more specific issues

[2019-09-16 16:33] fbogsany commented on #40
Closed in favour of more specific issues

[2019-09-16 20:54] sveiss commented on #84
I'm going to make a start on this today.

[2019-09-16 21:39] rdooley commented on #82
I'll take a shot at this one

[2019-09-16 21:51] rdooley commented on #82
EDIT: on second thought this is perhaps better left until further unittesting is in place

[2019-09-16 21:52] rdooley commented on #91
👋 I'm your huckleberry.

Self link https://github.com/open-telemetry/opentelemetry-java/tree/master/opentracing_shim

[2019-09-17 01:42] fbogsany commented on #93
Example from Python: https://github.com/open-telemetry/opentelemetry-python#installation

[2019-09-17 01:42] fbogsany commented on #92
Example from Python: https://github.com/open-telemetry/opentelemetry-python#quick-start

[2019-09-17 01:43] fbogsany commented on #94
Also release schedule, see Python for example: https://github.com/open-telemetry/opentelemetry-python#release-schedule

[2019-09-19 15:27] fbogsany opened #99 "SDK: should Resource initialization use env vars only?"
https://github.com/open-telemetry/opentelemetry-ruby/pull/86#discussion_r325418296:

Should we allow manual configuration of `Resource` or should it be entirely automatic based on environment variables, like the Java SDK?

[2019-09-19 23:47] #83 closed

[2019-09-23 14:45] fbogsany commented on #65
This is done. Not sure why it wasn't auto-closed 🤷‍♂

[2019-09-23 14:45] fbogsany commented on #68
This was done in #72

[2019-09-23 14:45] #68 closed

[2019-09-23 14:46] fbogsany commented on #50
This was done in #72

[2019-09-23 17:12] fbogsany commented on #10
We've enabled CI for JRuby, TruffleRuby, and MRI 2.4 - 2.6. This is currently run for Shopify PRs. Running for everyone is gated on #77. Closing this, though, since we've covered all the bases for now.

[2019-09-23 17:12] #10 closed

[2019-09-24 08:23] elskwid commented on #67
@fbogsany I'm digging in to the DataDog Integration instrumentation libraries. Not sure how you go about "assigning" these issues but I'll take this one. I'll post my thoughts here after I've had a chance to read the docs and spend a little time with the way DD has set up the integrations.

[2019-09-24 15:29] elskwid opened #105 "Documentation: Add design rationale to contributing guide"
Add any design rationale for standout differences between this (Ruby) and other libraries or the spec.

From @fbogsany

[2019-09-24 15:30] elskwid opened #106 "Documentation: Add links or information on style to contributing"
Add links or information on style: commits, language, etc.

Include usage of any automated tools like `RuboCop`.

[2019-09-24 15:33] elskwid opened #107 "Documentation: Add how to for bug reports"
Add a how to for submitting bug reports. This could be in the readme, contributing, or other documentation location.

[2019-09-24 22:33] fbogsany commented on #67
❤️

Looks like only codeowners can assign issues to themselves, which is a little annoying for everyone else. We'll have to do it informally like this for now.

[2019-09-24 22:33] fbogsany commented on #67
Oh, I'm wrong, I think - I assigned you.

[2019-09-24 22:38] fbogsany commented on #77
Ping. Would love some help with this!

[2019-09-24 22:51] rdooley commented on #64
I have also done some work on this

[2019-09-24 23:15] fbogsany commented on #67
Experimentation suggests that if you comment on an issue, then it can be assigned to you.

[2019-09-25 21:14] elskwid commented on #67
@fbogsany @mwear here's what I have from the SIG meeting today. I can't seem to update the issue description. Let me know how this looks.

## Requirements

* Create gem per integration instrumentation
* Create top-level directory for instrumentations
    * We will also do this for exporters
* Create initial integration gems without auto-installation
    * This can be added later (See #19)
* Unify

[2019-09-26 15:19] fbogsany opened #109 "API? metadata helpers for semantic conventions"
See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-semantic-conventions.md

[2019-09-26 16:48] fbogsany commented on #67
The spec refers to these things as "instrumentation adapters":
https://github.com/open-telemetry/opentelemetry-specification/blob/57714f7547fe4dcb342ad0ad10a80d86118431c7/specification/overview.md#instrumentation-adapters

I'm not sure we need to use both words in describing them. I'd be happy with "pick one" for the top-level directory name and gem names. I.e. either:
[code]
or
[code]

[2019-09-26 23:34] mwear commented on #67
That looks good to me @elskwid. I believe that instrumentation is the industry standard terminology and would prefer that we use it over adapter. I immediately know what instrumentation is, but I'd have to ask for clarification about an adapter. I could be wrong about it being a standardized term, if so, let me know.

[2019-09-27 01:32] fbogsany commented on #67
I believe the rationale for "adapter" is that we eventually intend for components (e.g. a Redis driver, Rails, Faraday) to provide built-in instrumentation using the OpenTelemetry API, whereas the instrumentation provided by OpenTelemetry would "adapt" components (e.g. through monkey-patching or well-defined hooks).

[2019-09-27 14:56] rdooley commented on #64
I think this was settled in #74
I cannot close however

[2019-09-27 17:48] elskwid commented on #67
@mwear @fbogsany makes me wonder if this is why other libs, the js lib for example, chose the term `plugin`. It feels a bit generic to me but perhaps it's shorter and leads to less confusion. Maybe? 😄

In thinking about plugins, would having a `plugins` directory at the top-level make sense and give us a place to put all the other packages? We could put all instrumentation adapters and exporters h

[2019-09-27 18:12] bogdandrutu commented on #67
Please start a new SIG (probably same members) that will have a different repo/gitter room similar with https://github.com/open-telemetry/community#java-auto-instrumentation

[2019-09-27 18:46] rdooley opened #110 "SDK: Noop Span Exporter should return FAILED_NOT_RETRYABLE on export after shutdown"

[2019-09-30 17:49] rdooley commented on #110
This is being handled in https://github.com/open-telemetry/opentelemetry-ruby/pull/98

[2019-10-01 13:48] fbogsany commented on #67
I'm less fond of the `plugins` name. It leads to a lot of noise IMO as you replace the nesting with suffixes. I prefer the second, although I'm not clear on the duplication between `adapters` and `instrumenters` -- I believe you only need one.

@bogdandrutu why does this need another SIG? The group of people interested and working on OT Ruby is already pretty small. Splitting into 2 SIGs seems exc

[2019-10-01 13:49] fbogsany commented on #64
Fixed in #74

[2019-10-01 13:49] #64 closed

[2019-10-01 14:54] bogdandrutu commented on #67
You can initially start with the same set of people, but in the future there may be people specialized in one or the other.

Also the main argument is that we want to have it in a separate repo. We can simply start in a separate repo with the same teams.

[2019-10-01 16:31] elskwid commented on #67
@fbogsany I wouldn't want to have both `adapters` and `instrumenters` I simply didn't want my example to show a preference. 😄

[2019-10-01 16:34] elskwid commented on #67
@bogdandrutu thank you for the clarification.

We talked about this at our last sig (before your suggestion on this issue) and we all thought that _starting_ off with a single repository would help us since new adapters will likely require work on either the api or sdk until we reach a flat point. We felt separate repos would add friction. Perhaps there's a time when these gems are extracted to a

[2019-10-01 21:18] elskwid commented on #67
@fbogsany I updated my comment to remove `instrumenter` for clarity.

[2019-10-02 14:52] rdooley commented on #77
This would be very nice to have

[2019-10-02 18:23] fbogsany commented on #67
@elskwid I like your second structure. For clarity:
[code]
Where `bridges/datadog` is temporary to help you move faster with porting the auto-instrumentation.

[2019-10-02 20:40] #84 closed

[2019-10-02 20:43] rdooley commented on #110
This is now also done as #98 is merged

[2019-10-02 20:43] #110 closed

[2019-10-04 10:03] z1c0 opened #113 "Implement "Named Tracers and Meters""
The "Named Tracers and Meters" RFC (https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md) has been approved and was added to the specification (open-telemetry/opentelemetry-specification#264).

Please make sure to also update the documentation if necessary (tracer, meter creation).

OpenTelemetry language repositories now need to implement this mechanisms.

[2019-10-04 14:55] fbogsany commented on #113
TBH, based on my reading of the spec, I have no idea of how to either implement or use this mechanism. I'd ask for clarification, but I don't know where to start 😞.

[2019-10-08 06:16] z1c0 commented on #113
Heres the OTEP/RFC that was the basis for the changes in the specification:
https://github.com/open-telemetry/oteps/blob/master/text/0016-named-tracers.md
Maybe this one clear that up a little bit.

Also, the PR for named tracers in .NET might help:
https://github.com/open-telemetry/opentelemetry-dotnet/pull/239

[2019-10-08 14:02] fbogsany commented on #113
I read the OTEP. It didn't help. Specifically, the motivation seemed weak and the extra complexity doesn't seem justified. I think the intent is to build additional functionality on top of this, but that functionality isn't spelled out in the OTEP, so it's a little too opaque. Some code examples (in the OTEP) for instrumentation and application authors might have gone a long way to improving clari

[2019-10-13 06:36] louy2 commented on #113
This sentence in the OTEP reminds me of when `systemd` spammed kernel log on `debug` ([FreeDesktop Bug 76935]). Linux kernel ended up gaining an option to prevent all user-space applications from writing to the kernel log, akin to "a Sampler \[...\] that discards Spans or Metrics from certain libraries".

[FreeDesktop Bug 76935]: https://bugs.freedesktop.org/show_bug.cgi?id=76935

[2019-10-16 18:47] elskwid opened #123 "Documentation: Update with explanations of Tracer methods"
Update the documentation with [comments from @fbogsany](https://github.com/open-telemetry/opentelemetry-ruby/pull/118#issuecomment-542497023) during the review of #118.

[2019-10-17 00:34] #77 closed

[2019-10-19 19:03] elskwid commented on #13
Given that we have the `gemspec` files for each gem, is this issue resolved? @fbogsany, @mwear Is this something other than configuring the gems?

[2019-10-19 21:14] elskwid opened #126 "Implement optional `strict` mode"
# Overview

We [recently removed runtime checks from the API and the SDK](https://github.com/open-telemetry/opentelemetry-ruby/pull/115). During the SIG meeting on October 16, 2019, we discussed the value of having a `strict` mode for the library. We believe there is value in having an optional strict mode where a runtime flag can be enabled that raises helpful errors for the developer/environment

[2019-10-19 21:24] elskwid commented on #126
I'm working on this now! ⛑

[2019-10-21 19:24] duonoid commented on #123
I can work on this.

[2019-10-22 16:07] mwear commented on #123
Thanks for volunteering @duonoid. I went ahead and assigned the issue to you.

[2019-10-23 00:30] elskwid commented on #126
@mwear here's the write-up for the strict mode as we discussed today.

[2019-10-23 02:31] #123 closed

[2019-10-23 02:45] fbogsany opened #129 "Add exportTimeoutMillis parameter to BatchSpanProcessor"
See https://github.com/open-telemetry/opentelemetry-specification/pull/326. Note that the Exporter interface doesn't include a timeout, so this probably requires the use of `Timeout::timeout`.

[2019-10-23 07:14] elskwid opened #130 "Add simple HTTP client/server example"
As part of #97, add an example in the same style as the `http` example in the [Go library](https://github.com/open-telemetry/opentelemetry-go/tree/master/example/http).

This should be a simple client/server all-in-one example with a corresponding docker-compose service to ease startup and usage.

[2019-10-23 07:15] elskwid commented on #130
I'm getting ready to submit a PR for this! 🆘

[2019-10-23 15:25] fbogsany commented on #13
I think this is done.

[2019-10-23 15:25] #13 closed

[2019-10-23 16:24] dazuma commented on #94
@mwear I can start looking at this.

[2019-10-23 16:25] dazuma commented on #95
@mwear I can start looking at this.

[2019-10-23 18:26] duonoid commented on #129
I can work on this.

[2019-10-23 21:29] mwear commented on #129
Thanks @duonoid! I've assigned it to you.

[2019-10-28 19:55] duonoid commented on #92
I can work on this.

[2019-10-28 22:13] mwear commented on #92
Thanks @duonoid. I've assigned it to you.

[2019-10-30 07:14] yelcat commented on #90
+1 Need OpenCensus compatibility shim for java

[2019-10-30 17:41] fbogsany commented on #73
Fixed in #136

[2019-10-30 17:41] #73 closed

[2019-10-30 17:48] fbogsany commented on #14
We settled on removing most runtime checks #115 and adding a "strict mode" #126

[2019-10-30 17:48] #14 closed

[2019-10-30 18:30] fbogsany commented on #94
Do we want to publish API docs as well?

[2019-10-30 19:03] dazuma commented on #94
Yeah I'll be looking into this this week. Tentative plan is to set up CI to push to Rubygems (after suitable automated testing and validating that the versions match, etc.) when a release tag is created in Github.

I'm not sure yet what the plan is for publishing reference docs. It looks like there's a page for it: https://opentelemetry.io/docs/ but there's no content yet.

[2019-10-31 00:13] mwear commented on #94
Should we consider hosting docs at https://www.rubydoc.info?

[2019-10-31 21:10] dazuma commented on #94
Docs will get there automatically after gems are published. But it seems like the intent is to host docs on opentelemetry.io also. I'll see if I can determine a process to push doc PRs over to the opentelemetry.io repo.

[2019-10-31 21:25] dazuma commented on #94
Related issue (NodeJS release process) at https://github.com/open-telemetry/opentelemetry-js/issues/419

[2019-11-01 19:18] #92 closed

[2019-11-01 21:00] duonoid commented on #93
I can work on this.

[2019-11-04 15:56] fbogsany commented on #80
Done in #125

[2019-11-04 15:56] #80 closed

[2019-11-04 17:59] duonoid commented on #82
I can work on this.

[2019-11-04 19:07] fbogsany commented on #113
This is done, at least the API side and the tracing part of the SDK. We don't have a SDK spec for metrics yet.

[2019-11-04 19:07] #113 closed

[2019-11-04 19:19] fbogsany commented on #81
https://github.com/open-telemetry/opentelemetry-specification/issues/259 metrics SDK spec moved to Alpha 0.3.

[2019-11-04 19:20] fbogsany commented on #88
https://github.com/open-telemetry/opentelemetry-specification/issues/259 metrics SDK spec moved to Alpha 0.3, so moving the exporter as well.

[2019-11-05 04:19] #93 closed

[2019-11-05 15:08] fbogsany commented on #96
@mwear @dazuma no-one is currently working on this. Do we need it for the Alpha 0.2 release, or should we punt it to Alpha 0.3?

[2019-11-05 17:00] mwear commented on #96
I don't think this should hold up our v0.2 alpha. I'm in favor of punting to Alpha 0.3.

[2019-11-06 08:00] elskwid opened #145 "Style: Discuss how we want to format methods with very long argument/parameter lists"
# Background

While working on #144 I had to add two more arguments to an already very long list. I found it more challenging than it needed to be for a few reasons:

1) The list expands horizontally so it's difficult to see if I may be adding duplicates
2) Keyword arguments aren't in a specific order so I spend time wondering where they should go
3) RuboCop could help enforce the line length (at

[2019-11-06 19:53] fbogsany commented on #145
👍

👍 although I tend to order keyword arguments (with defaults) by how frequently I specify them, but alphabetical order makes sense for very long argument lists.

👎 I really find the constraint annoying - I already find myself fiddling with comment formatting to fit within 80 characters, and it really doesn't feel like the best use of my time. The constraint ends up forcing 💩 formatting in more c

[2019-11-06 20:37] fbogsany commented on #130
Done in #131

[2019-11-06 20:37] #130 closed

[2019-11-12 17:25] fbogsany opened #150 "SDK: Increment child_count in Span when creating child Spans"
`child_count` is currently initialized to 0 in `Span` and never incremented. The OTLP spec marks `child_count` as optional, but if it is provided, it should represent the count of child spans created for a span. We're in violation of the spec by providing it, but always setting to 0.

`child_count` is problematic in general, because we may not know the count of (immediate) child spans by the time

[2019-11-12 18:06] fbogsany commented on #81
https://github.com/open-telemetry/opentelemetry-specification/pull/347

[2019-11-12 18:07] fbogsany commented on #89
https://github.com/open-telemetry/oteps/blob/master/text/0059-otlp-trace-data-format.md

[2019-11-12 18:08] fbogsany commented on #97
Do we want anything beyond what #130 provides?

[2019-11-13 15:09] #82 closed

[2019-11-13 16:50] danielmbarlow opened #151 "Sidekiq integration"
We are using OpenCensus to do this and have a [PR open on that project](https://github.com/census-instrumentation/opencensus-ruby/pull/102).

Are there plans to implement a Sidekiq integration on OpenTelemetry?

[2019-11-13 17:27] fbogsany commented on #97
Closing. We can open new issues if we want more examples.

[2019-11-13 17:27] #97 closed

[2019-11-13 17:27] dazuma commented on #94
This is done.

[2019-11-13 17:27] #94 closed

[2019-11-13 17:28] fbogsany commented on #95
Rely on Rubydoc for this. Add a link from OT.io docs.

[2019-11-13 17:29] fbogsany commented on #95
Potentially also push our docs to the OT.io website.

[2019-11-13 17:30] elskwid commented on #151
Hi @danielmbarlow!

Yes, we absolutely have plans to implement a Sidekiq integration (we're calling them adapters for now 😄). These are part of #67 for now. We've started with some simple adapters: Faraday in #148 and Sinatra in #149. The goal is to come up with a blueprint for how to write adapters for this library. We'd love your feedback, ideas, and contributions.

Are you interested in working

[2019-11-13 17:53] danielmbarlow commented on #151
I'll watch those PRs to see the kind of approach you're taking, thanks.

Quite likely. I'll have to get approval from my project manager first, though. Will be in touch.

[2019-11-15 17:02] fbogsany commented on #150
Relevant spec issue: https://github.com/open-telemetry/opentelemetry-specification/issues/355

[2019-11-19 17:30] duonoid opened #155 "Testing: Adapters should work with multiple versions of libraries"
Split from https://github.com/open-telemetry/opentelemetry-ruby/pull/148#pullrequestreview-315262385 -- the instrumentation adapter (faraday specifically, all generally) should work with multiple versions of the libraries they are instrumenting.

Consider integrating 'appraisals' gem.

[2019-11-20 18:09] duonoid commented on #155
I have started on this.

[2019-11-20 18:55] elskwid commented on #155
@duonoid I've assigned it to you. Have fun 💃

[2019-11-20 19:52] mwear opened #156 "Update Release Schedule"
We should update the [release schedule](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/README.md#release-schedule) for OpenTelemetry Ruby. Some items have already released, others are still work in progress. Below is the schedule as it appears in the readme.

## Release Schedule

OpenTelemetry Ruby is under active development. Our goal is to release an
_alpha_ version of the libr

[2019-11-21 19:27] fbogsany opened #158 "Resource should support the same attribute types as span attributes"
I think this is just a documentation change in [Resource](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/sdk/lib/opentelemetry/sdk/resources/resource.rb) to match [Span#set_attribute](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/api/lib/opentelemetry/trace/span.rb).

Addresses https://github.com/open-telemetry/opentelemetry-specification/pull/356

[2019-11-21 22:55] mwear commented on #155
In case it's useful, it appears the testing for contrib is spread across the two directories, spec and test, in dd-trace-rb.

* https://github.com/DataDog/dd-trace-rb/tree/master/spec/ddtrace/contrib
* https://github.com/DataDog/dd-trace-rb/tree/master/test/contrib

[2019-12-04 17:23] dazuma commented on #95
Will start looking at pushing docs to OT.io as part of the release process.

[2019-12-19 02:08] mwear opened #159 "Instrumentation Repository"
Currently instrumentation is cohabiting the same repo along with the API and SDK. It's convenient to have both in the same repo as we are rapidly iterating on the API and SDK, but do we want the instrumentation to be there longer term?

A [repo](https://github.com/open-telemetry/opentelemetry-auto-instr-ruby) has been created for this purpose, it can remain empty, or be deleted if we decide we don

[2019-12-19 16:12] fbogsany opened #160 "Add support for array-valued attributes"
See https://github.com/open-telemetry/opentelemetry-specification/pull/368

[2020-01-08 03:52] benedictfischer09 commented on #150
Related conversations are now indicating that only local (which I take to mean in process) spans should count towards this metric https://github.com/open-telemetry/opentelemetry-proto/pull/72 maybe someone else is able to confirm if that is the case, I don't see a change to the spec itself to reflect that

[2020-01-08 03:59] benedictfischer09 commented on #126
Is the amount of overhead required to maintain strict mode too much to make this worthwhile right now? The user facing api is fairly substantial and seems to be changing a lot, if the spec was very stable I think it would make more sense to think about doing this, but I would vote for waiting till at least a 1.0 release

[2020-01-08 04:02] benedictfischer09 commented on #105
I would like to work on this

[2020-01-08 05:14] mwear commented on #105
Thanks. It's assigned @benedictfischer09!

[2020-01-08 15:25] fbogsany commented on #159
My opinion:
- continue to use the same repo for now, until we understand the shape of the instrumentation better
- move the instrumentation to the other repo once we have some well understood instrumentation patterns (including configuration)
- appoint the same set of maintainers for the other repo as we have here

Rationale for eventually moving the instrumentation is that the API and SDK will ty

[2020-01-22 03:04] mwear opened #170 "BatchSpanProcessor exporter not interrupted test is flaky"
This test fails intermittently (both in local runs and on CI). We should fix it.

[code]

[2020-01-22 16:12] fbogsany commented on #170
Sigh. This has come up for a [related test](https://github.com/open-telemetry/opentelemetry-ruby/pull/153) before and [was anticipated in the original PR](https://github.com/open-telemetry/opentelemetry-ruby/pull/133#discussion_r340676385).

[2020-01-22 16:13] fbogsany commented on #170
💩 fix is to adjust the `exporter_sleeps_for_millis`. Better fixes welcome, though.

[2020-01-27 18:13] mwear commented on #156
Fixed by #169.

[2020-01-27 18:13] #156 closed

[2020-01-27 18:18] mwear commented on #19
Revisions of the ideas discussed in this issue have been implemented in #164 and #171.

[2020-01-27 18:18] #19 closed

[2020-01-27 21:44] mwear opened #178 "New Meeting Time"
As discussed at the last SIG meeting, it would be nice if we could move the day and time of the current meeting to allow for participation in the JS SIG which currently meets during the same time slot. There weren't any objects during the SIG meeting and it looked like 9 AM PST (UTC -8) on either Tuesday or Thursday would work for folks. I created a Doodle so people can vote for a time that works.

[2020-01-30 17:59] mwear commented on #178
Everyone @ mentioned has voted. Thursdays at 9 AM PST works for everyone, so that will be our new meeting time. I'll see how I can get it moved officially on the OpenTelemetry calendar.

[2020-01-30 18:18] fbogsany commented on #178
I've done that previously. I'll see if I can do it again.

[2020-01-30 18:29] fbogsany commented on #178
I've moved the meeting and changed the Zoom link to https://zoom.us/j/8287234601.

IIRC we have 3 Zoom rooms for OpenTelemetry.

The Python SIG is immediately before our meeting and the Go SIG is immediately after our meeting, both using https://zoom.us/j/6729396170.

The Java auto-instrumentation SIG meets every 2nd Thursday in our timeslot using https://zoom.us/j/8203130519.

Every 2 months, the

[2020-01-30 18:35] mwear commented on #178
Thanks @fbogsany!

[2020-02-06 01:48] fhwang commented on #158
@fbogsany I can look into this.

[2020-02-09 07:35] #158 closed

[2020-02-12 00:45] mwear commented on #178
Closing since the meeting time has officially been changed.

[2020-02-12 00:45] #178 closed

[2020-02-12 01:03] mwear opened #181 "Spans and Errors"
### Background

As we convert instrumentation, ensuring that we preserve error recording from the original instrumentation is becoming a problem. One of the big bottlenecks to this problem is that there is not clear guidance on how to record errors in OpenTelemetry. Several proposals have surfaced recently, notably:

* https://github.com/open-telemetry/opentelemetry-specification/pull/427
* https:

[2020-02-14 14:49] fhwang commented on #160
As long as I'm looking at this: There seem to be a number of places where the type of `attributes` is not being validated, for example https://github.com/open-telemetry/opentelemetry-ruby/blob/master/api/lib/opentelemetry/trace/event.rb#L39

Should I add validation in these places, raising `ArgumentError` in cases where `attributes` is invalid?

[2020-02-14 21:25] mwear commented on #160
Having the observability system raise runtime exceptions is frowned upon see: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/error-handling.md. The preferred approach is to use defaults or discard data that doesn't conform and log a message about it.

[2020-02-14 21:50] mwear commented on #160
Another trend you may notice, is that validating data can sometimes be expensive to do up front, and since data is sampled, it often is more efficient to validate, drop or correct data on export.

[2020-02-18 13:32] dyladan opened #186 "Probability sampler only respects parent if it sampled"
https://github.com/open-telemetry/opentelemetry-ruby/blob/master/sdk/lib/opentelemetry/sdk/trace/samplers/probability_sampler.rb#L55

It looks like the probability sampler tries to use the parent's behavior if a parent span context exists, but it has a bug where if the parent sampled is `false` it will decide again.

[2020-02-18 20:17] mwear commented on #186
This does look like a problem. Thanks for reporting!

[2020-02-27 00:48] mwear opened #193 "Remove sampling hint"
See: https://github.com/open-telemetry/oteps/pull/79

[2020-02-27 00:51] mwear opened #194 "Remove binary format"
See: https://github.com/open-telemetry/opentelemetry-specification/pull/426

[2020-02-27 00:52] mwear opened #195 "Add ForceFlush to SpanProcessor"
See: https://github.com/open-telemetry/opentelemetry-specification/pull/370

[2020-02-27 00:59] mwear opened #196 "B3 context propagation"
This not spec'd yet, but will likely be needed for users adopting OTel and transitioning to W3C trace context. See: https://github.com/openzipkin/b3-propagation and https://github.com/open-telemetry/opentelemetry-specification/issues/8.

Python and JS have B3 support.

[2020-02-27 01:03] mwear commented on #150
It looks like we don't need this and can probably remove it altogether: https://github.com/open-telemetry/opentelemetry-proto/pull/107

[2020-02-27 01:05] mwear commented on #89
It looks like the protos have been declared for beta: https://github.com/open-telemetry/opentelemetry-proto/pull/103

[2020-02-27 01:20] mwear opened #197 "Improve Redis instrumentation"
The Redis instrumentation, which is a port of the dd-trace version, instruments redis by patching the `call` and `call_pipeline` methods. We might be missing some calls by not also patching `call_loop` and `call_pipelined`. We should look into adding coverage for the additional methods.

See: https://github.com/open-telemetry/opentelemetry-ruby/pull/176#pullrequestreview-361604975

[2020-02-27 16:52] fbogsany commented on #89
Cool. Testing this is gated on https://github.com/open-telemetry/opentelemetry-collector/pull/577 but we can start implementation.

[2020-02-27 19:05] mwear opened #198 "HTTP status codes and errors"
Currently our HTTP instrumentation will record errors for unhandled exceptions. Should we create errors based on response codes? If so, we should do this uniformly across our instrumentation adapters. We may also want to add this to the datadog porting guide as well.

[2020-02-27 19:15] mwear opened #199 "Net::HTTP instrumentation enhancements"
Currently we only patch the `request` method, but it would be good to add visibility around `connect`.

It would also be nice to be able to allow / deny list functionality for context propagation. This would likely be something we'd like to apply across the board to other instrumentation if we go this route.

[2020-02-29 02:55] mwear opened #201 "Span vs Context"
## Span vs Context

The context propagation changes from OTEP 66 have lead to a few wrinkles in our APIs that need be addressed. `Tracer#start_span` returns a span. Often times this is what you want, but sometimes you really want that span in a `Context` object. On the other hand, sometimes you have a `Context` object and you want the current span from it.

### What should Tracer#start_span return

[2020-02-29 21:23] mwear opened #203 "Invalid attributes on Spans, Events, Links, and Resources"
We've discussed this before and temporarily went with the idea of a strict mode, that was never finished and the [Exception handing spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/error-handling.md) discourages an OTel implementation from raising unhandled exceptions. See: #14 and #126.

We are in the situation where invalid attributes on spans, links,

[2020-03-02 16:55] fbogsany commented on #203
The general approach here sounds good to me.

[2020-03-04 15:11] fbogsany commented on #201
I think this sort of thing should be the responsibility of objects in the Trace API rather than sticking them in a separate utils module. Having seen example uses in #202, the code doesn't seem any cleaner to me.

[2020-03-04 16:09] danielmbarlow commented on #151
I haven't been given approval to work on this so far. We put a lot of time into developing the OpenCensus sidekiq integration, and I don't think I'll get a green light any time soon to work on it's replacement.

[2020-03-04 16:32] fbogsany commented on #151
I'll take a look at the OpenCensus Sidekiq integration. We will probably start work on this next week.

[2020-03-05 01:28] mwear opened #204 "Propagation updates"
The spec has diverged from OTEP-66 in a couple of ways. The OTEP had propagators divided into injectors and extractors and had a global propagation object where http_injectors and http_extractors could be configured. It also had `inject` and `extract` methods that could accept an arbitrary list of propagators (or in fallback to the globals). See: https://github.com/open-telemetry/oteps/blob/master

[2020-03-05 01:33] mwear opened #205 "Nested client / server spans"
Given that we have Rack instrumentation as well as Sinatra instrumentation there the possibility of having nested spans with `SpanKind.SERVER`. With our Faraday instrumentation, it's also possible to have nested spans with `SpanKind.CLIENT` when Net::HTTP instrumentation is also enabled. Ideally, each request will have a single server and client span.

The actual SpanKind will vary depending on th

[2020-03-05 17:37] fhwang commented on #203
Assign this to me plz :)

[2020-03-09 17:23] mwear commented on #201
Related: https://github.com/open-telemetry/opentelemetry-specification/issues/455

[2020-03-10 13:03] #160 closed

[2020-03-10 14:36] fhwang commented on #203
Any thoughts on where is the right place in the SDK to insert this validation logic? I was thinking it could be done right before calling the exporter's `export` method, but that seems to be referenced from multiple places in the SDK. I could put the checks in multiple places (and/or refactor to de-dupe), but I just want to check beforehand to make sure I'm not missing anything obvious.

[code]

[2020-03-10 18:07] fbogsany commented on #203
A couple of options:
1. In `OpenTelemetry::SDK::Trace::Span#to_span_data`. This is called from a `SpanProcessor` right before passing the data to an exporter. The downside of this is that processors may have to handle invalid data, but data will be valid for exporters (and in general, we expect more exporters to be plugged in than processors).
1. In a `SpanProcessor`. This can then be installed or

[2020-03-10 18:46] mwear commented on #203
Since SDK spans should only be created if they're going to be sampled, would it be reasonable to eagerly drop invalid attributes on span creation and also drop in `Span#set_attribute`?

I think we could probably do the same on Event and Link creation. Since they are immutable it requires making a copy to drop invalid data, which is somewhat cumbersome. It's harder to ensure that they will be sampl

[2020-03-11 16:37] fhwang commented on #203
Cool, I'm exploring this option. A few other questions:

1. `SDK::Span#initialize` and `SDK::Span#trim_span_attributes` do not currently test for validity of attribute keys. Can I assume that's just an oversight and fix that? (I'm thinking of centralizing some of `SDK::Span`'s attribute processing into a single convenience method.)
2. What's the nature of Resource attribute validation I should be

[2020-03-11 17:44] fbogsany commented on #203
The downside of any eager validation is that more work is required even if attributes are dropped for other reasons (e.g. max links, events, or attributes is exceeded).

Everything span-attribute-related should go through `SDK::Span#trim_span_attributes`, so if we eagerly validate, it should be done there. The fact it isn't is certainly an oversight.

[2020-03-11 18:04] fhwang commented on #203
Would it be safe to defer all attribute validation (key correctness, value correctness, attributes hash size) until `SDK::Span#finish` is called? Is it reasonable to assume that no exporter will ever send data before that call?

[2020-03-11 18:44] fhwang commented on #203
Actually disregard that, I suppose `#to_span_data` is a better place for it.

[2020-03-11 19:03] fbogsany commented on #203
`SDK::Span#finish` is the last point to do it before `SpanProcessor`s see the data, so if we want valid data in the processors, it has to be done by then. `#to_span_data` is the last point to do it before the exporters see the data.

The most flexible approach is to perform validation in an optional (but enabled by default) processor, but that implies that processors earlier in the pipeline may se

[2020-03-12 16:53] fbogsany commented on #85
I think this is done? @mwear

[2020-03-12 17:05] duonoid commented on #155
I think this issue is able to be closed, since there is some ongoing testing guidance mentioned in #168.

[2020-03-12 17:06] mwear commented on #155
👍

[2020-03-12 17:06] #155 closed

[2020-03-18 01:31] fbogsany commented on #151
@robertlaurin can you please comment on this issue so I can assign it to you?

[2020-03-18 01:36] robertlaurin commented on #151
👋

[2020-03-18 01:59] #194 closed

[2020-03-19 02:13] fbogsany commented on #186
The [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#built-in-samplers) and [OTEP](https://github.com/open-telemetry/oteps/blob/master/text/0006-sampling.md) are inconsistent here, and the OTEP is more explicit, so I'm inclined to trust the OTEP.

The spec says:

This is self-contradictory, since the first point says we should "

[2020-03-19 20:17] #195 closed

[2020-03-19 20:29] #193 closed

[2020-03-24 16:33] fbogsany commented on #95
This is done AFAICT: https://www.rubydoc.info/gems/opentelemetry-api/0.2.0 and https://opentelemetry.io/docs/ruby/tracing/

[2020-03-24 16:33] #95 closed

[2020-03-26 16:26] fbogsany commented on #85
This is done. Closing.

[2020-03-26 16:26] #85 closed

[2020-03-26 16:27] fbogsany opened #213 "Update docs and cut a new release for 0.3 trace-only"

[2020-04-01 17:22] fbogsany commented on #204
I think this is done with #214 and #215 ?

[2020-04-01 17:23] fbogsany commented on #213
We need to bump a bunch of versions (for all the gems in here) and fix some examples to use the SDK configuration mechanism. Note that the docs are somewhat scattered - need to search for all the `.md` files, at least.

[2020-04-01 17:29] mwear commented on #204
'tis

[2020-04-01 17:29] #204 closed

[2020-04-03 15:28] #213 closed

[2020-04-03 15:29] fbogsany commented on #203
Bumped this to Alpha 0.4 so we can proceed with the 0.3 release (as discussed on the SIG call).

[2020-04-08 23:01] mwear opened #222 "Rails instrumentation"
Add instrumentation adapters for Rails components via ActiveSupport notifications. @martinisoft can fill in the details.

[2020-04-13 19:45] martinisoft commented on #222
I'll be working on adding Rails instrumentation by implementing a Rack adapter first and adding on each individual component in Rails via ActiveSupport and friends. ActiveJob support would also be handy to add for background tasks. I think sidekiq does not use the ActiveJob interface so there would have to be a separate issue to implement that.

Some more cleanup and optimization can be done by un

[2020-04-13 21:02] martinisoft commented on #222
@mwear I have a draft PR up now, but I am missing a couple things:

* Where/how do I get appraisal support working like it is done in circle-ci? I seem to be missing a step that isn't documented in the porting guide.
* There seems to be a split between examples and tests. Is there a reason to not just use tests only or do they serve a different purpose? I'm thinking it might be a little overkill s

[2020-04-14 03:28] mwear commented on #222
@martinisoft

I believe you need to check in the generated Gemfiles as per: https://github.com/thoughtbot/appraisal#version-control. Other than that, the setup looks ok to me

The examples are meant to be mini-projects that can be easily spun up to explore the spans generated by the instrumentation. They can be useful for QA and for users to see how to use the instrumentation and what the expected

[2020-04-22 20:37] martinisoft commented on #222
One thing I have been hitting trying to work on the Rails adapter is getting a testing feedback loop going. I've got a potential solution by generalizing the docker compose configs, then using the rake tasks within each adapter to run the test suites for them. Right now the testing tasks seem to be an all or nothing approach, but they aren't directly accessible via docker compose run commands.

In

[2020-04-22 21:36] fbogsany commented on #96
@pinglamb can you please comment on this issue so that I can assign it to you?

[2020-04-23 12:02] pinglamb commented on #96
@fbogsany

I am working on this in https://github.com/open-telemetry/opentelemetry-ruby/pull/229

[2020-04-23 12:12] pinglamb commented on #88
I am trying to study this but not sure how to begin.

I have a few questions in mind:

* Is the metric api implementation ready?
* So with the prometheus exporter, does it mean that we have to map the OpenTelemetry entities (counter, measure, ...) to corresponding prometheus implementations (counter, gauge, ...)?
* How do library users specify that they want to use prometheus exporter, through som

[2020-04-23 17:00] mwear opened #230 "resource autodetection"
It would be nice to have resource auto-detection, similar to what exists in opentelemetry-js. The logic was largely ported from OpenCensus Node:

https://github.com/open-telemetry/opentelemetry-js/pull/899

There is little to no specification for it at this time, there is a related issue:
https://github.com/open-telemetry/opentelemetry-specification/issues/535

[2020-04-23 19:19] fbogsany commented on #88
We don’t yet have an implementation of Metrics in the SDK. We need that before we can start work on a Prometheus (or statsd) exporter.

[2020-04-24 15:25] fbogsany commented on #230
@robertlaurin can you please comment here so I can assign this one to you? 😄

[2020-04-24 15:26] robertlaurin commented on #230
Hey 👋, I'm going to work on this :)

[2020-04-30 12:21] konfortes opened #231 "Add Binary Thrift over HTTP as a transport option for `OpenTelemetry::Exporters::Jaeger::Exporter`"
Hey guys,
I'm having some trouble with setting the `OpenTelemetry::Exporters::Jaeger::Exporter` with `opentelemetry-collector`.
This is how I configure it:

[code]

it seems like the collector host succesfully resolved because I **DON'T**
get this error anymore: `/usr/local/bundle/gems/opentelemetry-exporters-jaeger-0.4.0/lib/opentelemetry/exporters/jaeger/transport.rb:14:in** 'connect': getaddrin

[2020-04-30 14:07] konfortes commented on #231
the opentelemetry-collector expects traces in `/api/traces` so I tried the Jaeger collector directly, but the problem persists. keep getting `Unable to connect to Jaeger Agent`

[2020-05-07 16:13] fbogsany opened #232 "Spec compliance for in-memory representation of span and trace IDs"
The [specification for `SpanContext`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#spancontext) requires that:

Our representation is 16 and 32 character hex strings:
https://github.com/open-telemetry/opentelemetry-ruby/blob/79b047a38d43782bf0733c7338a5c00aec92c278/api/lib/opentelemetry/trace.rb#L11-L42

We should conform to the spec. This ac

[2020-05-07 16:28] fbogsany opened #233 "Spec vs implementation difference for context extraction"
The [specification for trace context extraction](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#extract) states:

Our implementation does not do this. Specifically, we do *NOT* modify the `Context` if we can't parse a value from the carrier.

Propagator:
https://github.com/open-telemetry/opentelemetry-ruby/blob/79b047a38d43782bf07

[2020-05-07 16:45] fbogsany commented on #230
I referenced the OpenTelemetry Collector's implementation of resource auto-discovery on today's SIG call. Turns out it's a little more Kubernetes-specific (and much more complicated) than I thought: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/master/processor/k8sprocessor. I'm not sure how much we can usefully extract from it.

[2020-05-11 16:59] mwear opened #234 "Add documentation for Concurrent Ruby"
Add documentation for the Concurrent Ruby instrumentation adapter. The implementation exists [here](https://github.com/open-telemetry/opentelemetry-ruby/tree/master/adapters/concurrent_ruby), but we should have a readme describing the behavior and options.

[2020-05-11 17:01] mwear opened #235 "Add documentation for Ethon"
Add documentation for the Ethon instrumentation adapter. The implementation exists [here](https://github.com/open-telemetry/opentelemetry-ruby/tree/master/adapters/ethon), but we should have a readme describing its behavior and options.

[2020-05-11 17:02] mwear opened #236 "Add documentation for Excon"
Add documentation for Excon instrumentation adapter. The implementation exists [here](https://github.com/open-telemetry/opentelemetry-ruby/tree/master/adapters/excon), but we should have a readme describing its behavior and options.

[2020-05-11 17:03] mwear opened #237 "Add documentation for Faraday"
Add documentation for the Faraday instrumentation adapter. The implementation exists [here](https://github.com/open-telemetry/opentelemetry-ruby/tree/master/adapters/faraday), but we should have a readme describing its behavior and options.

[2020-05-11 17:03] mwear opened #238 "Add documentation for Net::HTTP"
Add documentation for the Net::HTTP instrumentation adapter. The implementation exists [here](https://github.com/open-telemetry/opentelemetry-ruby/tree/master/adapters/net_http), but we should have a readme describing its behavior and options.

[2020-05-11 17:05] mwear opened #239 "Add documentation for Rack"
Add documentation for the Rack instrumentation adapter. The implementation exists [here](https://github.com/open-telemetry/opentelemetry-ruby/tree/master/adapters/rack), but we should have a readme describing its behavior and options.

[2020-05-11 17:05] mwear opened #240 "Add documentation for Redis"
Add documentation for the Redis instrumentation adapter. The implementation exists [here](https://github.com/open-telemetry/opentelemetry-ruby/tree/master/adapters/redis), but we should have a readme describing its behavior and options.

[2020-05-11 17:12] mwear opened #241 "Add documentation for Sidekiq"
Add documentation for the Sidekiq instrumentation adapter. The implementation exists [here](https://github.com/open-telemetry/opentelemetry-ruby/tree/master/adapters/sidekiq), but we should have a readme describing its behavior and options.

[2020-05-11 23:26] mwear opened #242 "Add documentation for Sinatra"
Add documentation for the Sinatra instrumentation adapter. The implementation exists [here](https://github.com/open-telemetry/opentelemetry-ruby/tree/master/adapters/sinatra), but we should have a readme describing its behavior and options.

[2020-05-11 23:31] mwear opened #243 "mysql2 instrumentation adapter"
Convert Datadog instrumentation for mysql2 to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md	)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-tra

[2020-05-12 00:05] mwear opened #244 "dalli instrumentation adapter"
Convert Datadog instrumentation for dalli to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md	)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-trac

[2020-05-12 00:06] mwear opened #245 "Elasticsearch instrumentation adapter"
Convert Datadog instrumentation for Elasticsearch to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md	)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog

[2020-05-12 00:07] mwear opened #246 "GraphQL instrumentation adapter"
Convert Datadog instrumentation for GraphQL to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-tra

[2020-05-12 00:10] mwear opened #247 "Grape instrumentation adapter"
Convert Datadog instrumentation for Grape to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-trace

[2020-05-12 00:11] mwear opened #248 "gRPC instrumentation adapter"
Convert Datadog instrumentation for gRPC to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-trace-

[2020-05-12 00:13] mwear opened #249 "Sequel instrumentation adapter"
Convert Datadog instrumentation for Sequel to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-trac

[2020-05-12 00:19] mwear opened #250 "Resque instrumentation adapter"
Convert Datadog instrumentation for Resque to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-trac

[2020-05-12 00:20] mwear opened #251 "DelayedJob instrumentation adapter"
Convert Datadog instrumentation for DelayedJob to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-

[2020-05-12 00:22] mwear opened #252 "SuckerPunch instrumentation adapter"
Convert Datadog instrumentation for SuckerPunch to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd

[2020-05-12 00:24] mwear opened #253 "aws-sdk instrumentation adapter"
Convert Datadog instrumentation for aws-sdk to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-tra

[2020-05-12 00:26] mwear opened #254 "shoryuken instrumentation adapter"
Convert Datadog instrumentation for Shoryuken to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-t

[2020-05-12 00:28] mwear opened #255 "Racecar instrumentation adapter"
Convert Datadog instrumentation for Racecar to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-tra

[2020-05-12 00:29] mwear opened #256 "presto-client instrumentation adapter"
Convert Datadog instrumentation for presto-client to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/

[2020-05-12 00:30] mwear opened #257 "MongoDB instrumentaton adapter"
Convert Datadog instrumentation for MongoDB to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-tra

[2020-05-12 00:35] mwear commented on #222
Just to clarify, will this work include: ActiveSupport, ActionPack, ActionView, ActionRecord, ActionCable, or should this be broken our more granularly?

[2020-05-12 00:36] mwear opened #258 "ActiveModelSerializers instrumentation adapter"
Convert Datadog instrumentation for ActiveModelSerializers to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com

[2020-05-12 00:59] mwear opened #259 "Rake instrumentation adapter"
Convert Datadog instrumentation for Rake to OpenTelemetry.

See
  * [Datadog porting guide](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/adapters/datadog-porting-guide.md)
  * [Semantic Conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions)
  * [Datadog implementation](https://github.com/DataDog/dd-trace-

[2020-05-13 22:24] martinisoft commented on #222
I'm sticking to instrumenting all the components for now then I guess they can be broken out later.

[2020-05-18 20:56] mwear commented on #236
Fixed by #262

[2020-05-18 20:56] #236 closed

[2020-05-21 16:16] mwear commented on #151
I'm closing this because we have sidekiq instrumentation from #212. If we need any improvements or changes, we can track those separately.

[2020-05-21 16:16] #151 closed

[2020-05-30 19:09] toumorokoshi opened #266 "align opentelemetry instrumentation naming with specification"
Hi!

I recently worked with opentelemetry-specification to align on a standardized naming for instrumentations across languages. Here's the final result:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/overview.md#instrumentation-libraries

And the PR where it was discussed:

open-telemetry/opentelemetry-specification#539

I think if ruby followed the speci

[2020-05-30 22:12] fbogsany commented on #266
This requires a little more work than just a directory rename. We’ll need to rename all the `opentelemetry-adapters-*` gems, change the name spacing `OpenTelemetry::Adapters::*` in all gems, and rename/refactor `OpenTelemetry::Instrumentation::Adapter`: https://github.com/open-telemetry/opentelemetry-ruby/blob/master/api/lib/opentelemetry/instrumentation/adapter.rb.

The latter is particularly mes

[2020-05-31 15:04] fbogsany commented on #266
An alternative to the name `OpenTelemetry::Instrumentation::Adapter` might be `OpenTelemetry::Instrumentation::Installer`, since that’s really the purpose of the class — to detect and install instrumentation.

[2020-06-01 05:29] toumorokoshi commented on #266
Got it, thanks! As a my main intent is to surface the existence of this standard. At least personally I see that there's a strong tradeoff between the benefits of this change and the cost required to do so, and won't pursue evangelizing this work much more than just filing an issue.

Having an adapter (instrumentation) registry is a very cool idea. I'm not sure if other languages would benefit, bu

[2020-06-01 14:58] fbogsany commented on #266
Understood. Most of my remarks are “thinking out loud” about how to implement this, for the benefit of @mwear. The `Registry` is part of our implementation of auto-instrumentation. In this context, the rename from `Adapter` to `Installer` makes the most sense to me, though I’ll see if anyone else wants to bike shed this. I’ll start a PR for the changes described in my earlier comments.

[2020-06-02 21:52] fbogsany opened #267 "Replace ALWAYS_PARENT with ParentOrElse sampler"
https://github.com/open-telemetry/opentelemetry-specification/pull/609

https://github.com/open-telemetry/opentelemetry-ruby/blob/0009ea6b1050e3828abd5777eaaeb84a6fb03253/sdk/lib/opentelemetry/sdk/trace/samplers.rb#L55-L67

[2020-06-02 21:55] fbogsany opened #268 "Remove handling of retries by the SDK"
https://github.com/open-telemetry/opentelemetry-specification/pull/511

https://github.com/open-telemetry/opentelemetry-ruby/blob/0009ea6b1050e3828abd5777eaaeb84a6fb03253/sdk/lib/opentelemetry/sdk/trace/export.rb#L18-L25

[2020-06-02 21:58] fbogsany opened #269 "Remove SpanId from Sampler parameters"
https://github.com/open-telemetry/opentelemetry-specification/pull/621

https://github.com/open-telemetry/opentelemetry-ruby/blob/0009ea6b1050e3828abd5777eaaeb84a6fb03253/sdk/lib/opentelemetry/sdk/trace/samplers.rb#L18-L26

And

https://github.com/open-telemetry/opentelemetry-ruby/blob/0009ea6b1050e3828abd5777eaaeb84a6fb03253/sdk/lib/opentelemetry/sdk/trace/samplers.rb#L49-L65

And

https://github

[2020-06-02 22:04] fbogsany commented on #89
https://github.com/open-telemetry/oteps/blob/master/text/0099-otlp-http.md describes the protocol over HTTP instead of gRPC. We might consider doing this first, since it avoids pulling in a dependency on gRPC.

https://github.com/open-telemetry/opentelemetry-collector/pull/577 is merged, so this is unblocked.

[2020-06-04 16:44] martinisoft opened #271 "Extract Rack adapter into dependent gem"
Since each adapter is it's own gem it would be helpful to standardize and re-use adapters like Rack, which is a common dependency between web based gems like Sinatra (and by extension Padrino which is based on Sinatra) and Rails. If there is desire to support [Hanami](https://hanamirb.org/) in the future, this would be an easy first step to include the Rack gem as a dependency. Here is a rough lis

[2020-06-11 11:23] ericmustin commented on #243
👋 been a bit of a busy week, but I'd like to try to grab this one.

[2020-06-12 09:16] ericmustin opened #274 "Sinatra adapter throws unhandled exception on 404"
hello, noticed during some testing that the sinatra adapter's trace_middleware will throw an unhandled exception in the event of a 404 where the `sinatra.route` does not exist, due to calling
`span.set_attribute('http.route', env['sinatra.route'].split.last)` on nil value. Pushing up a fix and test shortly.

To reproduce, I added a small test of an invalid route to `sinatra_test.rb` like:

[code]

[2020-06-12 17:52] #274 closed

[2020-06-13 01:13] #268 closed

[2020-06-13 01:22] #269 closed

[2020-06-13 01:22] #267 closed

[2020-06-17 08:57] Asafb26 opened #279 "Inject correlations in rack adapter"
Hello,
I'm in the middle of research about context propagation implementation in my business.
one of my requirements is to inject business values across the span (user_id, user_agent, ab test allocations, etc).
As far as I understand the specifications - those should be injected as CorrelationContext.
I'm using your Rack Adapter and wonder how to inject those values with the predefined logic of th

[2020-06-17 12:54] fbogsany commented on #279
Our current implementation is not up-to-date with the spec. We currently use the W3C `Correlation-Context` header instead of the [`otcorrelations`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/correlationcontext/api.md#header-name) header.

You can find the implementation of CorrelationContext extraction here: https://github.com/open-telemetry/opentelemet

[2020-06-17 14:02] Asafb26 commented on #279
Thanks, how can I add my own correlations (current_user.id, allocations, etc) while using the rack adapter to create the context?

[2020-06-17 18:55] Asafb26 commented on #279
this is how I did it, for now, I'm not sure if that the correct way to do it:
[code]

[2020-06-18 01:05] fbogsany commented on #279
I might defer to @mwear for this.

[2020-06-22 09:02] RashmiRam opened #281 "Support for older versions of ruby"
All opentelemetry gems support ruby version >= 2.4. Rails 5 itself requires minimum of Ruby 2.2 and I guess majority of major ruby applications are in Rails 5 or even below.
So, Would it be a reasonable ask to support for ruby >= 2.2?

[2020-06-22 14:58] fbogsany commented on #281
In #10 we decided to only support Ruby versions that are supported by the ruby-core team, namely `normal maintenance` and `security maintenance` levels. Based on this, we removed support for Ruby 2.4 in #226.

We need to draw a line somewhere. Supporting very old versions of Ruby limits our ability to leverage new language and library features, and is cumbersome to maintain. Given the small pool o

[2020-06-23 05:10] RashmiRam commented on #281
Thanks for the explanation @fbogsany. I understand that maintenance would be tedious. But, I suppose lots of rails apps using older versions of ruby will find it difficult to move to Opentelemetry Ruby especially if they are using an existing Opentracing Implementation gems. They seem to support ruby >= 2.2 or 2.3. Just my 2 cents.

[2020-06-25 00:19] fbogsany opened #284 "Figure out how to share test helpers and logic between adapters"
This is a very common pattern in the adapter tests. It’s worth thinking about extracting this to a helper in the API or SDK. It *can* be accomplished with something like:
[code]
but that’s pretty wordy, may not work exactly like this, and doesn’t really reveal the intent terribly well. Something like the following would be better:
[code]
I guess that’s even longer, but I think it is clearer.

_Ori

[2020-06-25 00:22] fbogsany commented on #284
@mwear [commented](https://github.com/open-telemetry/opentelemetry-ruby/pull/280#discussion_r445213387):

[2020-06-25 00:31] #232 closed

[2020-06-25 00:48] mwear commented on #279
@Asafb26 Your example is on the right track. Manually setting the context like that will likely get you into trouble, use `with_current` instead. We can look into adding better documentation (setting it as `@api private` or possibly even removing the writer). Try this instead:

[code]

[2020-06-29 14:34] fbogsany commented on #230
Do we consider this fixed by #263 or do we want to leave this open to add resource detection for platforms other than GCP?

[2020-06-29 14:36] fbogsany commented on #99
Bump. Is this still relevant or is this resolved by #263?

[2020-06-29 14:39] fbogsany commented on #233
@mwear is there a spec issue or OTEP relevant to this? I think you mentioned on the last SIG call that you thought the spec would be changed to something closer to what we have.

[2020-06-29 19:28] Asafb26 commented on #279
@mwear Thank you.
I understand that we cannot create a setter for that because we must handle the context once the block executed, my concern is that my entire business logic must be under this block which can be a single point of failure

[2020-06-29 22:23] Brandon-Kimberly opened #287 "Proposal: Use GitHub Actions for CI/CD"
This issue is in reference to [issue 398](https://github.com/open-telemetry/community/issues/398) posted on the community repository. In this issue, we are proposing that all OpenTelemetry repositories *consider* using GitHub Actions as their CI provider in order to maintain consistency across the various language repositories.

The overall proposal was discussed in the OpenTelemetry maintainers S

[2020-06-30 00:40] fbogsany commented on #287
I’m good with this 👍. I’ve assigned it to you @alolita and @Brandon-Kimberly.

[2020-06-30 00:48] dazuma commented on #287
I set up the original circle config (along with the secrets etc for doing releases) so I can certainly help with this effort.

[2020-07-01 00:35] #243 closed

[2020-07-02 16:50] fbogsany commented on #99
https://github.com/open-telemetry/oteps/pull/111 will clarify this. At present, we support setting this in a couple different ways, which is probably correct. This may change -- we will revisit it when OTEP 111 is resolved.

[2020-07-02 16:51] #99 closed

[2020-07-02 16:53] mwear opened #289 "Use `otcorrelations` as correlation context header"
See: https://github.com/open-telemetry/opentelemetry-specification/pull/517

[2020-07-02 16:56] mwear commented on #233
This is no longer needed due to: https://github.com/open-telemetry/opentelemetry-specification/pull/671

[2020-07-02 17:01] mwear opened #290 "Introduce a changelog"

[2020-07-02 17:11] mwear commented on #290
@dazuma suggested adopting [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/) in #138. I don't think our commit messages follow the required conventions at this time. If this looks interesting to folks, we can see what it would take to migrate.

[2020-07-03 03:25] fbogsany commented on #290
🤷 it doesn’t look like (m)any of the other language SIGs are using conventional commits. I’m not averse to trying it out, but we’ll have to bikeshed tooling, etc. I’d probably lean toward a manually maintained changelog to start with.

[2020-07-03 03:27] #233 closed

[2020-07-08 16:06] fbogsany commented on #230
From last week's call, we decided to close this with #263 and open new issues for platforms other than GCP.

[2020-07-08 16:06] #230 closed

[2020-07-08 16:16] fbogsany opened #291 "Add AWS EC2 resource autodetection"
Follow on from #230 and #263.

[2020-07-08 16:16] fbogsany opened #292 "Add resource autodetection from environment labels"
Follow on from #230 and #263.

[2020-07-08 21:13] #266 closed

[2020-07-09 13:53] #289 closed

[2020-07-09 13:54] fbogsany commented on #231
I won't get to this this week, so punting it to Alpha 0.6. In reality, it should be done well before then, and can be released as a 0.5.1 version of just the Jaeger gem.

[2020-07-09 16:48] ericmustin commented on #290
I'll grab this one

[2020-07-13 13:13] fbogsany commented on #290
Fixed in #294

[2020-07-13 13:13] #290 closed

[2020-07-17 23:19] ercl commented on #287
Could a maintainer please assign me to this issue? I am on the same team as Brandon under our mentor @alolita. I apologize for not requesting this before I filed the PR.

[2020-07-18 13:27] ericmustin opened #298 "ProbabilitySampler.sample_trace_id? should account for spec compliant trace_id"
I believe that https://github.com/open-telemetry/opentelemetry-ruby/pull/280 introduced an edge case bug in the `sample_trace_id?` private method on `ProbabilitySampler`
https://github.com/open-telemetry/opentelemetry-ruby/blob/a76c4285729caee021fb5557b21f696f62ba4c6d/sdk/lib/opentelemetry/sdk/trace/samplers/probability_sampler.rb#L58

Where, for a `ProbabilitySampler` with sampling rate < 1.0, th

[2020-07-18 22:18] fbogsany commented on #298
Thanks very much for reporting this @ericmustin! I'll fix this ASAP (tonight or tomorrow). We'll need a 0.5.1 release of the SDK for this, unfortunately - sorry @mwear! 😞

[2020-07-20 10:18] PuntoDiGoccia opened #300 "uninitialized constant OpenTelemetry::Instrumentation::Base"
I'm trying auto-inspection on `rails`

`Gemfile`:
[code]

`application.rb`:
[code]

`bin/rails server` fails with the message in subject.
Looking at the stack, RubyGem gets confused:
in
`opentelemetry-api-0.5.0/lib/opentelemetry.rb`: `require 'opentelemetry/instrumentation'` (line 14)
loads
`opentelemetry-instrumentation-sinatra-0.5.0/lib/opentelemetry/instrumentation.rb`
instead of
`opentelemetry

[2020-07-20 14:10] fbogsany commented on #300
Fix in #301. Thanks for the report! I reproduced the failure in a small test app & verified the fix. Note that your first `require` should be `require 'opentelemetry'` rather than `require 'opentelemetry/api'`.

[2020-07-20 21:07] #300 closed

[2020-07-20 22:02] #298 closed

[2020-07-21 16:43] mwear commented on #300
Fix released in https://rubygems.org/gems/opentelemetry-api/versions/0.5.1

[2020-07-21 16:44] mwear commented on #298
Fix released in: https://rubygems.org/gems/opentelemetry-sdk/versions/0.5.1

[2020-07-23 16:50] mwear opened #304 "Add instrumentation packages to the registry"
https://opentelemetry.io/get-involved/#registry

[2020-07-24 22:12] dazuma opened #305 "CI/CD: Deploy reference docs during gem releases"
We should have an "official" location for reference documentation that is linked to from opentelemetry.io, and gets built every time a gem is released. Currently, the only real source for library reference documentation is [rubydoc.info](https://rubydoc.info), which is not terribly stable. Plus, the Documentation-Ruby dropdown link from opentelemetry.io goes to the github page, but that doesn't ha

[2020-07-24 23:24] dazuma opened #306 "CI/CD: Generate CHANGELOGs automatically from Conventional Commit messages"
This is a proposal to:

* Adopt [Conventional Commit messages](https://conventionalcommits.org)
* Use the above to generate (a first pass of) changelogs automatically as part of the release process.

Specifically:

* All commit messages should conform to [Conventional Commits](https://conventionalcommits.org).
    * Three types of commit messages will appear as notes in the changelog:
        * Fe

[2020-07-27 12:47] fbogsany opened #307 "Rename opentelemetry-exporters-jaeger gem to opentelemetry-exporter-jaeger"
Per https://github.com/open-telemetry/opentelemetry-specification/pull/629, the singular form "exporter" seems to be preferred for exporter package names. It reads better on its own anyway (outside of the repo directory structure).

[2020-07-28 13:38] fbogsany commented on #306
The only thing to note here is that we don't want to bump the major version to 1 until we're ready to declare this GA, which is also dependent on the spec's GA. We *will* have breaking changes before then. Those should be flagged in the release notes, but should only result in a minor version bump for now.

[2020-07-29 14:49] fbogsany opened #308 "Add a helper to disable tracing in a block"
It is sometimes useful to explicitly disable tracing. For example, some applications may wish to avoid tracing healthcheck endpoints. More commonly, though, exporters that use HTTP often wish to avoid tracing their export request. It is possible to achieve this with something like:

[code]

It would be convenient to extract this pattern into a helper on the `Tracer` class.

This is not foolproof,

[2020-07-29 14:58] fbogsany opened #309 "Add metrics in the exporters and span processors"
At least the following metrics are useful.

In exporters:
* `export.failure` - counts failed export requests
* `export.success` - counts successful export requests
* `export.spans` - counts spans successfully exported

In `BatchSpanProcessor` and `SimpleSpanProcessor`:
* `dropped_spans` - counts spans permanently dropped

Alternatively, hooks could be provided in the span processors and exporters

[2020-07-29 15:36] fbogsany opened #310 "Fork safety in BatchSpanProcessor"
`BatchSpanProcessor` starts a thread to handle the export loop. This needs to be restarted in a child process after `fork`. Also, we need to ensure that any spans that may have been buffered in the parent process are *not* also sent from the child process after `fork`. The way we've accomplished this in Shopify's instrumentation gem is:

[code]

where `reset_on_fork` is called from `initialize` an

[2020-07-31 08:48] ericmustin commented on #304
@mwear can you assign this to me? Should be able to get to this soon.

[2020-08-04 18:03] fbogsany commented on #309
DataDog has [a good example of common health metrics](https://github.com/DataDog/dd-trace-rb/blob/821d023707a7dbd94c641b2eeac401f4dff1de7a/lib/ddtrace/diagnostics/health.rb) that we could also consider for inspiration.

[2020-08-05 11:32] sribalakumar opened #311 "Obfuscate query values in db.statement for mysql2 instrumentation."
The current instrumentation for `mysql2` is tracing the full query with all the column values which may contain sensitive information and act as an hindrance for adoption in production environment.

https://github.com/open-telemetry/opentelemetry-ruby/blob/master/instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/patches/client.rb#L37
[code]
Also Opentelemetry specification mentions t

[2020-08-05 13:42] fbogsany commented on #311
The consensus in [OTEP 100](https://github.com/open-telemetry/oteps/pull/100) is that this mechanism will be provided in the collector but not necessarily in-process for all languages.

[2020-08-07 05:30] sribalakumar commented on #311
@fbogsany Actually I am not able to find such mentions in the link. Infact the [internal details section](https://github.com/open-telemetry/oteps/blob/f142c93366a0bf851903ddfa326243a86f5c5566/text/0100-sensitive-data-handling.md#internal-details) mentions about having a lexer in the opentelemetry-java-instrumentation which will help to replace sensitive values with `?`.

Quoting the internal secti

[2020-08-07 17:10] genebean opened #312 "Unable to add tags to spans"
As best as I can tell from reading through things, there doesn't seem to be a way for me to add tags yet. My specific use case here is adding tags to an app instrumented via the `opentelemetry-ruby/instrumentation/sinatra/`.

[2020-08-10 16:45] mwear commented on #312
:wave: @genebean. In OpenTelemetry tags are referred to as attributes. There is a [`Span#add_attribute`](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/sdk/lib/opentelemetry/sdk/trace/span.rb#L54-L79) method for adding them. If you are trying to get at a Span that has been created by auto-instrumentation, it might be available by calling [`Tracer#current_span`](https://github.com

[2020-08-10 18:34] fbogsany commented on #311
See the review comments on that issue to get a better sense of what the community is thinking about here.

[2020-08-10 22:06] mwear opened #313 "Disable tracing via context"
We should have a mechanism to disable tracing via a flag on the context. Other SIGs are considering similar approaches. See: https://github.com/open-telemetry/opentelemetry-js/issues/1040.

[2020-08-10 23:08] mwear opened #314 "Export Resources from Jaeger exporter"
The Jaeger exporter does not currently export Resources. It comes close to exporting them as process tags [here](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/exporters/jaeger/lib/opentelemetry/exporters/jaeger/exporter.rb#L128-L130).

This is somewhat more complicated than it should be, because the specification allows for multiple tracer providers, where each can have differen

[2020-08-10 23:14] genebean commented on #314
For what it’s worth, I like the idea of being consistent across languages. With that in mind, merge resource labels into span attributes makes sense to me.

[2020-08-11 10:49] Asafb26 opened #315 "Retrieve all available correlations for a context"
Hi,
I have a case which needed to retrieve a hash with all available correlations assigned for the current context,
I see that OpenTelemetry API and the SDK not supported to retrieve this but only a specific key.
Is there a reason behind this decision? can I archive it?

[2020-08-12 16:01] Asafb26 opened #317 "Custom span exported failed to export due invalid encoding"
ref #316

[2020-08-12 16:56] fbogsany commented on #317
What exporter failed to export? This should be fixed in the exporters.

[2020-08-12 20:57] Asafb26 commented on #317
I have a custom exporter which dump the span to Elasticsearch, I got errors after the bump about utf8 encoding issues. I see that span and trace ids should be a byte array, but IMO the trace exporters not supposed to deal with such cases, anyway its an easy fix which can be just documented in the exporter's section

[2020-08-13 00:58] fbogsany commented on #317
https://github.com/open-telemetry/opentelemetry-specification/issues/736 is related. Most likely, we will provide both string and byte array getters. The native representation will remain byte arrays in the Ruby SDK, and convenience methods will be added to retrieve the string representation.

[2020-08-14 14:55] genebean opened #318 "Mongo instrumentation missing"
I am working on moving to this library from Datadog's and found that there does not seem to be anything equivalent to https://github.com/DataDog/dd-trace-rb/blob/master/lib/ddtrace/contrib/mongodb/

[2020-08-14 19:25] fbogsany commented on #318
Duplicate of #257

[2020-08-14 19:25] #318 closed

[2020-08-16 15:07] #317 closed

[2020-08-19 10:26] Asafb26 opened #321 "Set sampler other than the default"
Hello,
I can't find and setter to the sampler in `TracerProvider`, Is there any option to change the default sampler within the SDK's configuration?

[2020-08-19 18:11] fbogsany commented on #321
https://github.com/open-telemetry/opentelemetry-ruby/blob/a1b57a747341831508166e3dd6dcce5a1a7e48d1/sdk/lib/opentelemetry/sdk/trace/config/trace_config.rb#L49 and https://github.com/open-telemetry/opentelemetry-ruby/blob/a1b57a747341831508166e3dd6dcce5a1a7e48d1/sdk/lib/opentelemetry/sdk/trace/tracer_provider.rb#L15

So something like:
[code]

The heavily nested namespaces are decidedly unpleasant w

[2020-08-19 21:02] fbogsany commented on #315
This is not my area of expertise, but it looks like we're missing an implementation of https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/correlationcontext/api.md#get-correlations in https://github.com/open-telemetry/opentelemetry-ruby/blob/master/api/lib/opentelemetry/correlation_context/manager.rb and https://github.com/open-telemetry/opentelemetry-ruby/blob

[2020-08-19 21:39] fbogsany commented on #314
The collector adds resource tags as process tags rather than merging them into span attributes: https://github.com/open-telemetry/opentelemetry-collector/blob/cadd49875b3bcbc6ca555b66c7d09b6d3a78bff0/translator/trace/jaeger/traces_to_jaegerproto.go#L107-L133

I think this approach makes more sense. If we're going to support multiple tracer providers, we should group spans for export by Resource an

[2020-08-19 21:48] Asafb26 commented on #321
Thanks, what about exposing the sampler as an SDK configuration method?
something like
[code]

[2020-08-20 01:03] fbogsany commented on #321
We can do that, but the spec also [allows the sampler to be replaced after configuration](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#tracer-creation) (MAY rather than MUST, but we already support it). Also, I think we want to be clear that this is the *trace* sampler.

Anyway, I'll address the SDK configuration in a separate PR.

[2020-08-20 01:08] fbogsany commented on #321
And actually, I think we want to make the configuration even less wordy by providing helpers for the standard samplers:

[code]

[2020-08-20 20:01] tigrannajaryan opened #327 "Populate implementation/spec compliance matrix"
In order to have a better understanding of where we stand in terms of implementing OpenTelemetry specification in various language SDKs we would like to have a compliance matrix that shows which features are implemented in which languages.

This will show how much work is remaining and tell us far away are we from being ready for GA.

The matrix is located here: https://github.com/open-telemetry/o

[2020-08-21 00:21] mwear commented on #314
I'm flexible about how we solve this, but think that we should aim for consistency across languages. I opened a spec issue for discussion: https://github.com/open-telemetry/opentelemetry-specification/issues/848.

[2020-08-21 15:56] arminru opened #328 "Outdated documentation regarding adding events lazily"
This section of the spec seems to be outdated:
https://github.com/open-telemetry/opentelemetry-ruby/blob/b7cdcf8cc8faa872447967dcb1ae6eb612c13c9c/api/lib/opentelemetry/trace/span.rb#L69-L71

I couldn't find any definition or implementation of the `tracer.create_event` method mentioned there.

Please note that the lazy API will likely be removed from the spec (https://github.com/open-telemetry/open

[2020-08-23 18:57] #279 closed

[2020-08-24 17:45] fbogsany opened #331 "(Don't?) rename HTTPText to TextMap Propagator"
https://github.com/open-telemetry/opentelemetry-specification/pull/793 renamed the `HttpTextPropagator` to `TextMapPropagator`. We have a split in our implementation between `http` and `text` propagation https://github.com/open-telemetry/opentelemetry-ruby/blob/7a10db9dea62b7cf109cd192f742a06a32554162/api/lib/opentelemetry/context/propagation/propagation.rb#L12-L19

https://github.com/open-telemet

[2020-08-24 17:52] fbogsany commented on #312
The correct place to do this is with a `Resource`, like:
[code]

Unfortunately, we haven't yet implemented the mapping from OTel's `Resource` to Jaeger's `Process` yet: https://github.com/open-telemetry/opentelemetry-ruby/blob/7a10db9dea62b7cf109cd192f742a06a32554162/exporters/jaeger/lib/opentelemetry/exporters/jaeger/exporter.rb#L125-L133

#314 discusses how we might do this. We don't have consen

[2020-08-24 23:10] mwear commented on #196
Since the time this issue was written, it has been officially spec'd: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#propagators-distribution.

[2020-08-24 23:19] mwear commented on #331
I agree it's useful to have http and text versions of the propagators readily available due to Rack. I'm wondering if we could "meet in the middle" by calling our TextInjector / Extractor a TextMapInjector / Extractor. We could keep the http and text distinction, but the types would line up with the spec. I'm also fine with keeping things as-is.

[2020-08-24 23:58] #328 closed

[2020-08-25 00:55] fbogsany commented on #331
👍 sounds good to me -- I'll PR that, perhaps tomorrow.

[2020-08-25 14:44] fbogsany opened #336 "Update resource autodetection to match spec"
See https://github.com/open-telemetry/opentelemetry-specification/pull/811. I think the main thing we're not handling at the moment is the `OTEL_RESOURCE_ATTRIBUTES` env var.

[2020-08-25 14:47] fbogsany opened #337 "Support standard environment variables in SDK"
See https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md

[2020-08-25 20:24] #331 closed

[2020-08-26 19:01] fbogsany opened #339 "Optionally trim attribute keys & values?"
Related to https://github.com/open-telemetry/opentelemetry-specification/issues/504

Java provides optional attribute value truncation: https://github.com/open-telemetry/opentelemetry-java/blob/a021a59b9433691c06ab2265b4c574eab825b0ed/sdk/tracing/src/main/java/io/opentelemetry/sdk/trace/SpanBuilderSdk.java#L195-L197
[code]

We have some ad-hoc truncation and UTF8 validation in the Redis instrument

[2020-08-26 22:38] fbogsany commented on #327
Done in https://github.com/open-telemetry/opentelemetry-specification/pull/885

[2020-08-26 22:38] #327 closed

[2020-08-26 22:45] fbogsany opened #342 "Add support for arrays of primitives as attribute values"
This looks like it is just a documentation issue. We need to update https://github.com/open-telemetry/opentelemetry-specification/blob/master/spec-compliance-matrix.md as well - based on the incorrect documentation 😄 , I marked this as not supported.

[2020-08-26 23:21] #342 closed

[2020-08-27 00:46] mwear opened #344 "Export instrumentation library for jaeger"
According to the spec, it should be merged into span attributes: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk_exporters/jaeger.md#instrumentationlibrary.

[2020-08-27 12:12] #344 closed

[2020-08-28 17:51] mwlang commented on #337
I can help with this.  Looking through what's in the codebase now,  the first thing obvious I saw was the environment variables for enabling/disabling adapters.

Right now, for example, Sinatra would be enabled/disabled via `OPENTELEMETRY_ADAPTERS_SINATRA_ENABLED`.

Per the specs, it looks like this would change to be `OTEL_RUBY_ADAPTERS_SINATRA_ENABLED`

Is this a correct interpretation?

[2020-08-31 13:45] fbogsany commented on #337
We've changed the name of Adapters to Instrumentation, so this should be `OTEL_RUBY_INSTRUMENTATION_SINATRA_ENABLED`.

[2020-08-31 13:50] #312 closed

[2020-08-31 13:50] #314 closed

[2020-08-31 21:17] #307 closed

[2020-09-01 00:36] sribalakumar commented on #244
@fbogsany @mwear

We have done the [Dalli porting](https://github.com/RashmiRam/opentelemetry-ruby/tree/v0.4.0-ruby-2.4-compatible/adapters/dalli ) and Iam interested in contributing this enhancement as PR.

Let me know if the work is already started by someone else ?

[2020-09-01 03:19] fbogsany commented on #244
@sribalakumar can you please coordinate with @robertlaurin? He has implemented this as well & we planned to contribute it this week. I think it would be useful to get both implementations up as PRs that we can review together, and cherry-pick the best of both.

[2020-09-01 11:00] sribalakumar opened #352 "alias_method vs prepend infinite looping"
When opentelemetry-ruby instrumentations is run in parallel with other Gems (like [prometheus-exporter](https://github.com/discourse/prometheus_exporter)) which use a different patching technique and patch the same low level adapter method, we observe `SystemStackError (stack level too deep)` error at runtime.

More details related to `SystemStackError` originating because of patching conflicts be

[2020-09-01 13:02] mwlang commented on #337
Ok, will make it so.  That raises a question: is the plan also to rename all "adapter" classes to "Instrumentation". If so, and it's not being tackled I can do that as well (in another PR).

[2020-09-01 14:01] mwlang opened #353 "Documentation is looking for OVERVIEW.md in SDK"
When running `rake test` in the sdk folder, the documentation step is looking for an `OVERVIEW.md` file that doesn't exist.

[code]

[2020-09-01 14:44] fbogsany commented on #337
I believe we already did that in #285. Did we miss something?

[2020-09-01 19:08] #336 closed

[2020-09-01 19:08] #292 closed

[2020-09-01 20:00] robertlaurin commented on #244
I've put up a draft PR porting the internal shopify implementation here https://github.com/open-telemetry/opentelemetry-ruby/pull/355

[2020-09-01 20:51] mwlang commented on #337
So strange!  I still have an ./adapters folder despite syncing my fork to upstream and so that was naturally where my first hits on searching for Sinatra, etc. to review how it was currently implemented.  I don't quite get why a `git status` isn't showing this folder as untracked, nor why a `git rebase upstream/master` failed to remove it (`upstream` for me is the _this_ repo)

Either way, removin

[2020-09-02 13:40] mwlang commented on #337
I went through the specs and through the entire code looking for usage of environment variables. A few key recent changes looks to have addressed all the Environment naming changes.  The only ones left are internal to the project itself such as `OPENTELEMETRY_RELEASES_ENABLED` and `OPENTELEMETRY_RUBYGEMS_API_KEY` which would also presumably require changes to the repo set up to keep from breaking

[2020-09-02 15:05] fbogsany commented on #337
Thanks @mwlang! These don't need to change, since they only relate to the build process and not to the released gems.

[2020-09-02 16:09] fbogsany commented on #337
I don’t think we handle `OTEL_LOG_LEVEL` yet, or `OTEL_PROPAGATORS`.

[2020-09-02 20:30] mwlang commented on #337
Ok, I'll look for these specifically and come back with either an update what I find or PR as needed to resolve.

[2020-09-03 10:29] ericmustin opened #359 "Should resource labels be renamed to resource attributes?"
Some enterprising developer on opentelemetry-js seems to think so https://github.com/open-telemetry/opentelemetry-js/pull/1419 , and it sounds like this is now spec. Should ruby also migrate `resource.labels` to be `resource.attributes` ?

[2020-09-04 07:14] Oberon00 commented on #201
If you are interested in this still, please take a look at https://github.com/open-telemetry/opentelemetry-specification/pull/875

[2020-09-04 11:10] sribalakumar commented on #244
@fbogsany @robertlaurin Thanks, I'll be able to send the alternate PR (we are patching at `Server.request` level, as in Datadog) over this weekend.

[2020-09-07 00:38] sribalakumar commented on #244
@robertlaurin @fbogsany I had a chance to go through https://github.com/open-telemetry/opentelemetry-ruby/pull/355 and its pretty much the [same definitions](https://github.com/RashmiRam/opentelemetry-ruby/tree/v0.4.0-ruby-2.4-compatible/adapters/dalli) that we have also back ported from Datadog.

So to avoid duplicate efforts I have started with https://github.com/open-telemetry/opentelemetry-rub

[2020-09-08 13:16] mwlang commented on #337
If I am understanding how `OTEL_PROPAGATORS` is spec'd, a user can supply a comma-separated list of propagators as strings to control the values.  Yet, the Configurator's interface (specifically, `:http_extractors`, `:http_injectors`, `:text_map_extractors`, and `:text_map_injectors`) for setting these propagators expects Ruby classes and not strings.

I'm unclear what we'd like to do in the Ruby

[2020-09-08 17:43] fbogsany commented on #337
Let's punt the `OTEL_PROPAGATORS` env var for now. According to the spec compliance matrix, no other language has implemented it yet. I feel like this has not been adequately specified, so I'd like to see how other languages approach this. Specifically, I *think* we may need to add a propagator registry of some kind, but that's not part of the spec.

[2020-09-08 21:58] #306 closed

[2020-09-08 22:43] dazuma commented on #287
This was completed. (Thanks @ercl!)

[2020-09-09 01:15] #287 closed

[2020-09-09 11:02] #89 closed

[2020-09-09 11:08] fbogsany commented on #337
We’ve done as much as we’re going to for now. We can revisit OTEL_PROPAGATORS in a later issue.

[2020-09-09 11:08] #337 closed

[2020-09-09 13:31] #244 closed

[2020-09-09 20:56] #231 closed

[2020-09-09 22:53] #359 closed

[2020-09-10 02:48] fbogsany opened #371 "Implement TraceState in the API"
Remarkably, it looks to me as though we haven’t implemented TraceState in either the SDK or the API. I just realized this when reviewing https://github.com/open-telemetry/opentelemetry-specification/pull/922 for any relevant changes. We should add that.

[2020-09-10 14:06] github-actions[bot] opened #372 "Release PR #370 failed with errors"
A release job failed.

Release PR: #370
Commit: https://github.com/open-telemetry/opentelemetry-ruby/commit/b3198f19ddd12cc9fff52d5ec1ae8c4a0d8ebab9

----

Release job completed with errors.

Failed to release opentelemetry-api 0.5.1:
The first changelog entry in /home/runner/work/opentelemetry-ruby/opentelemetry-ruby/api/CHANGELOG.md isn't for version 0.5.1.
It should start with:
### v0.5.1 / 202

[2020-09-10 14:20] fbogsany commented on #372
@dazuma this seems to be trying to release the wrong version of the gem.

[2020-09-11 19:39] genebean opened #378 "Docs for Jaeger collector exporter are wrong"
The docs at https://github.com/open-telemetry/opentelemetry-ruby/tree/master/exporter/jaeger don't include the `/api/traces` path that is required via
https://github.com/open-telemetry/opentelemetry-ruby/blob/ed28a6bc2a7ce7cfcad9c2940c596a651d9a6782/exporter/jaeger/lib/opentelemetry/exporter/jaeger/collector_exporter.rb#L18

Either the docs are wrong or the initial setting of the endpoint needs up

[2020-09-12 01:21] genebean opened #379 "OpenTelemetry::SDK::Resources::Constants appears to be undocumented"
When setting up the new `Jaeger::CollectorExporter` I came across `OpenTelemetry::SDK::Resources::Constants::SERVICE_RESOURCE[:name]` in its readme. I have not found any docs on this other than in its source code.

A readme in `sdk/lib/opentelemetry/sdk/resources` might be a good way to fix this.

[2020-09-12 04:13] genebean opened #380 "Unable to add events via Jaeger::CollectorExporter"
Using the `Jaeger::CollectorExporter`, adding a span like `span.add_event('some message')` works but these do not:

[code]

They both throw this error:

[code]

[2020-09-12 07:04] mwear commented on #380
The `name` named parameter was removed in the latest release. Can you try:

[code]

[2020-09-13 17:05] genebean commented on #380
That does fix it, thanks! I did find one place that still has the old syntax: `exporter/otlp/README.md`

[2020-09-14 15:56] fbogsany commented on #379
TBH, this is a terrible way to access this constant - for this one specifically, I think a helper in the configurator is justified:
[code]

[2020-09-14 20:39] alolita commented on #109
This link is dead -> https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/data-semantic-conventions.md Can you repost the right link? Thanks.

[2020-09-14 21:39] mwear opened #381 "update spec compliance matrix"
Tables have been added for context, resources, and exporters. We should fill these out when we get a chance.

[2020-09-14 22:43] AzfaarQureshi commented on #241
Hi! Am I free to pick this up? The link (https://github.com/open-telemetry/opentelemetry-ruby/tree/master/adapters/sidekiq) seems to be broken though, did the implementation get refactored somewhere else?

[2020-09-14 23:22] robertlaurin opened #382 "Allow suppressing install messages"
[These](https://github.com/robertlaurin/opentelemetry-ruby/blob/6cec1d30400191c0d6e6dc54c4f71f4d211e9322/api/lib/opentelemetry/instrumentation/registry.rb#L75-L84) install messages create a lot of noise if you're doing something like repeatedly running a test suite in dev.  It would be nice to have it so we could make this optional.

[2020-09-15 00:13] eunice98k commented on #234
Hey, could I pick this up? Thank you!

[2020-09-15 01:47] genebean commented on #379
There are a few in there that helpers might be nice for. The main one besides name is the one for an app’s version.

[2020-09-15 14:16] ericmustin commented on #378
i think a few exporter docs have issues at the moment actually , otlp collector exporter has a code example using incorrect args i believe https://github.com/open-telemetry/opentelemetry-ruby/tree/master/exporter/otlp#how-do-i-get-started

Maybe we should group these all as one chunk of cleanup work

[2020-09-15 19:50] ericmustin commented on #241
@AzfaarQureshi sounds good, I've assigned to you. the repo structure changed slightly since this issue was filed, it can be found here now https://github.com/open-telemetry/opentelemetry-ruby/tree/master/instrumentation/sidekiq

[2020-09-16 11:29] fbogsany opened #385 "Add Kubernetes resource detection"
JS does this as part of the GCP resource detection, which doesn't seem quite right: https://github.com/open-telemetry/opentelemetry-js/blob/40242aef5f0805cc6eba369faa642f9172bf24b2/packages/opentelemetry-resource-detector-gcp/src/detectors/GcpDetector.ts#L67-L82

[2020-09-16 11:49] #310 closed

[2020-09-16 13:26] robertlaurin commented on #385
We're doing the same thing 🙃
https://github.com/open-telemetry/opentelemetry-ruby/blob/master/resource_detectors/lib/opentelemetry/resource/detectors/google_cloud_platform.rb#L32-L38

[2020-09-16 15:52] fbogsany commented on #385
🤔 interesting! @mat-rumian are you running your service in GKE or somewhere else? Also, I'm not having much luck finding the Python implementation of resource detectors for GCP - I don't know where the `k8s.*` attributes are coming from there.

@robertlaurin our implementation differs slightly from the JS implementation - they read the values (mostly) from environment variables. I think ours is "m

[2020-09-16 20:02] mat-rumian commented on #385
@fbogsany I'm running my service @ AWS EKS Cluster - I have few applications intrumented by OpenTelemetry: java, python, dotnet and ruby. Only ruby in configuration: `app - OTLP ->  otel-collector-contrib(with k8s_tagger processor) ` is not generating k8s tags. All other instrumentations like java, python, dotnet do - k8s tags like `k8s.namespace, k8s.container.name` are present

[2020-09-16 20:03] KKelvinLo commented on #239
Hello can I pick up this issue? cc: @alolita

[2020-09-16 20:32] mwear commented on #382
Is configuring a no-op logger a possibility?

[2020-09-16 20:37] mwear commented on #385
We don't currently have resource detection for AWS, but it's in our backlog. See #291.

[2020-09-17 04:25] anuraaga opened #388 "Confirm specification for runtime information"
open-telemetry/opentelemetry-specification#882 is adding a list of well-known runtime information to the specification to populate in the Resource. The author (me) only knows Java well and has guessed at helpful values for other languages. Please check the spec and update it if there is anything that should be fixed or could be more clear. Thanks!

[2020-09-17 08:12] xukaren commented on #109
Hi, could you please specify the issue a bit further? I'd love to help, but I am new to this :) Thanks!

[2020-09-17 14:36] fbogsany commented on #109
Honestly, I wouldn't pick this issue just yet. The observation here is that a lot of instrumentation gems will record the same set of attributes (with different values). For example, MySQL, Redis and Memcached are all datastores and will record this set of attributes: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md. It

[2020-09-17 16:19] amanbrar1999 commented on #240
Hi! is this issue free to pick up? I'd like to work on it - cc @alolita

[2020-09-17 16:41] shovnik commented on #238
Hi, is this still available? I'd love to handle this. The link seems to be broken by the way. - cc @alolita

[2020-09-17 19:56] fbogsany opened #395 "Don't require branches to be up to date before merging?"
The screenshot at https://github.com/open-telemetry/community/blob/master/docs/how-to-configure-new-repository.md has "Require branches to be up to date before merging" checked, but it isn't explicitly listed in the policies for a new repo. We have it set on our repo, and it is causing a bit of friction with documentation PRs in particular (which are coming in thick & fast now).

Should we turn th

[2020-09-17 20:16] #239 closed

[2020-09-17 20:27] mwear commented on #395
I know this is on for other OpenTelemetry repos as well. I'm not sure what the potential consequences for turning it off would be. For the most part, we have the ability to merge master into PRs, but it seems like some user settings prevent this. Do you know what setting that is by chance?

[2020-09-17 20:30] fbogsany commented on #395
The branches are in a fork https://github.com/open-o11y/opentelemetry-ruby. This appears to be an org setup by AWS for their interns working on OTel. My guess is that we need to be members of the org to be able to update their branches.

[2020-09-17 20:36] mwear commented on #395
I think we want branches to be up to date before merging PRs with code changes, but this shouldn't be an issue for documentation changes.

[2020-09-17 20:40] fbogsany commented on #395
We don't have the granularity of control to force this for code changes, but not for docs. I'll close this issue for now. If we get a flurry of doc changes again, I may temporarily disable this setting while I merge all the doc PRs.

[2020-09-17 20:40] #395 closed

[2020-09-17 20:44] mwear commented on #395
👍 It's definitely inconvenient for docs only changes. I'd support temporarily changing the setting while handling a batch of docs PRs.

[2020-09-17 21:24] amanbrar1999 commented on #240
PR has been merged so I believe this should be good to close @fbogsany

[2020-09-18 00:35] #380 closed

[2020-09-18 00:40] genebean opened #397 "Span Processors are basically undocumented"
I have learned via chat that the SimpleSpanProcessor is not intended for anything other than local testing yet its all that is used in the examples. By trial and error I learned that the expected default is the BatchSpanProcessor. Having said that, I am not aware of any documentation of this or of when or how to use any of the span processors.

For me, this became a real issue today: the SimpleSpa

[2020-09-18 00:43] genebean commented on #385
I am in GKE and not seeing any k8s stuff with my traces, though I'd love to. Happy to help test if I need to turn on something for the resource detector to be activated.

[2020-09-18 01:57] #240 closed

[2020-09-18 01:58] #238 closed

[2020-09-18 01:59] #235 closed

[2020-09-18 02:00] #237 closed

[2020-09-18 02:00] #241 closed

[2020-09-18 02:01] #242 closed

[2020-09-18 02:12] fbogsany commented on #186
The spec has changed to have [the probability sampler (trace id ratio based sampler)](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#traceidratiobased) ignore the parent’s sampled flag and to have a [parent based sampler](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#parentbased) act as a w

[2020-09-18 02:12] #186 closed

[2020-09-18 02:19] #234 closed

[2020-09-18 14:22] #150 closed

[2020-09-18 15:05] fbogsany opened #403 "Implement OTEL_EXPORTER env var"
See https://github.com/open-telemetry/opentelemetry-specification/pull/943

[2020-09-18 15:09] fbogsany opened #404 "Implement force_flush as a noop for SimpleSpanProcessor"
Also fix documentation for `Configurator#add_span_processor`: https://github.com/open-telemetry/opentelemetry-ruby/blob/1c37b00dc82d490dace1f92739977aa4674d7039/sdk/lib/opentelemetry/sdk/configurator.rb#L76-L79

[2020-09-18 15:10] fbogsany opened #405 "Consider returning success/fail/timeout for SpanProcessor shutdown and force_flush"
See https://github.com/open-telemetry/opentelemetry-specification/pull/878

This is a *SHOULD* rather than *MUST*, but I think it makes sense.

[2020-09-18 15:28] fbogsany opened #406 "Implement error flagging with status codes (OTEP 136)"
See https://github.com/open-telemetry/oteps/pull/136.

This hasn't shown up as a specification yet, but the OTEP is approved.

The work is likely blocked on changes in the OTLP protocol and collector.

[2020-09-18 17:22] genebean commented on #385
I deployed this today and got back several resources about the host, cloud, and k8s.

[2020-09-18 18:26] fbogsany opened #408 "Add URL quantization callback support to Sinatra instrumentation"
Our Rack instrumentation allows configuration of a URL quantization function https://github.com/open-telemetry/opentelemetry-ruby/blob/1c37b00dc82d490dace1f92739977aa4674d7039/instrumentation/rack/lib/opentelemetry/instrumentation/rack/middlewares/tracer_middleware.rb#L122-L137

We should add the same functionality to the Sinatra instrumentation. @genebean reported this requirement in Gitter:

[2020-09-18 18:30] genebean commented on #408
Thanks! Please make sure that `instrumentation/rack/README.md` and `instrumentation/sinatra/README.md` are updated to include how to put that to use... I don't see anything about it at this time.

[2020-09-18 20:00] mwear commented on #408
We can do this, but I think we should also use `env['sinatra.route']` as the span name. It is already a quantized low-cardinality string. For example, for this route:

[code]

`sinatra.route` for a request with an actual id always be `"GET /accounts/:id" `.

[2020-09-21 18:13] fbogsany opened #412 "Implement OTEL_PROPAGATORS environment variable"
See: https://github.com/open-telemetry/opentelemetry-specification/pull/962

Propagators to be used as a comma separated list.

Default is "tracecontext,baggage".

[2020-09-21 18:32] fbogsany commented on #405
🤦 https://github.com/open-telemetry/opentelemetry-ruby/blob/bf79274f463012d3a3dda2343d2628d4b1a1cd84/sdk/lib/opentelemetry/sdk/trace/export/simple_span_processor.rb#L55-L62

[2020-09-21 18:33] fbogsany commented on #404
🤦 https://github.com/open-telemetry/opentelemetry-ruby/blob/bf79274f463012d3a3dda2343d2628d4b1a1cd84/sdk/lib/opentelemetry/sdk/trace/export/simple_span_processor.rb#L55-L62

[2020-09-21 19:15] genebean commented on #408
@mwear would that be as simple as editing https://github.com/open-telemetry/opentelemetry-ruby/blob/master/instrumentation/sinatra/lib/opentelemetry/instrumentation/sinatra/middlewares/tracer_middleware.rb and replacing `env['PATH_INFO']` with `env['sinatra.route']`? If so, I will put up a PR

[2020-09-21 19:31] fbogsany commented on #381
Fixed in https://github.com/open-telemetry/opentelemetry-specification/pull/978

[2020-09-21 19:38] fbogsany commented on #91
The initial PR is #108 , however I don't believe @rdooley has time to continue with this and the PR likely needs significant updates to account for drift in the API. I've removed the assignment & opened this up to other folks who might like to help out.

[2020-09-21 19:39] fbogsany commented on #91
Note also https://github.com/open-telemetry/opentelemetry-specification/pull/768 adds clarity around requirements here.

[2020-09-21 20:29] #404 closed

[2020-09-21 20:44] rdooley commented on #91
That is exactly correct. Thank you for removing my assignment.

[2020-09-21 22:00] #405 closed

[2020-09-21 22:56] genebean commented on #304
what all are you looking for with this - just adding entries for things like sinatra and such?

[2020-09-21 22:58] genebean commented on #271
Can you elaborate on this part? I think I could help with it a little but want to make sure I understand the ask

[2020-09-22 01:12] fbogsany commented on #304
Yep, exactly that.

[2020-09-22 14:39] fbogsany commented on #381
This is done.

[2020-09-22 14:39] #381 closed

[2020-09-22 14:40] fbogsany commented on #388
This is done.

[2020-09-22 14:40] #388 closed

[2020-09-22 14:40] #406 closed

[2020-09-22 14:42] fbogsany commented on #91
Pushing this out until https://github.com/open-telemetry/opentelemetry-specification/pull/768 is approved.

[2020-09-22 15:48] dazuma commented on #372
obsolete

[2020-09-22 15:48] #372 closed

[2020-09-22 16:35] genebean commented on #379
I think this should be reopened as there are still a lot of constants that need to be documented.

[2020-09-22 16:37] fbogsany commented on #284
Discussed in the SIG meeting:
* have an `opentelemetry-common` gem for common helpers (http response code to status, semantic conventions, etc.) -- this should only depend on API
* have an `opentelemetry-testing` gem for test helpers

[2020-09-22 16:41] robertlaurin commented on #379
I may have eagerly closed this out, the constants are documented here https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/resource/semantic_conventions

Do you think that additional documentation should live within this repo?

[2020-09-22 16:42] genebean commented on #379
I do. Even if it is just a readme that points to the spec. There is no way the average user would know to go hunt that down in it's current home.

[2020-09-23 01:06] fbogsany opened #419 "Rename baggage header to otelbaggage"
See https://github.com/open-telemetry/opentelemetry-specification/pull/981

[2020-09-23 01:07] fbogsany opened #420 "Implement process.runtime semantic conventions"
See https://github.com/open-telemetry/opentelemetry-specification/pull/882#discussion_r490328381

[2020-09-23 20:26] fbogsany opened #421 "Add peer.service tag to instrumentation, where possible"
The [general semantic conventions include a `peer.service` tag](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/span-general.md#general-remote-service-attributes):

Description:

This is important in some tracing backends for inferring services such as Redis and memcached, which themselves are not traced. We depend on this heavily

[2020-09-25 02:40] fbogsany commented on #419
And we’re back to baggage again 🤦 : https://github.com/open-telemetry/opentelemetry-specification/pull/993

[2020-09-25 02:40] #419 closed

[2020-09-25 11:33] fbogsany commented on #271
I think this may be a reference to https://github.com/open-telemetry/opentelemetry-ruby/pull/225, in particular the registration of the Rack middleware in the Railtie and the definition of a Rails-specific middleware. I don't have more context than that, unfortunately.

[2020-09-28 14:57] fbogsany opened #423 "Replace otel.instrumentation_library.* with otel.library.*"
See https://github.com/open-telemetry/opentelemetry-specification/pull/989 for details

[2020-09-29 18:01] akp2603 commented on #412
Hi @fbogsany !
I am pretty new to open source. But I have a decent experience with rails development. Let me know if I can help with this. Would love to work on this.

[2020-09-29 18:21] fbogsany commented on #412
Thanks @akp2603 - I've assigned you.

[2020-09-30 01:34] fbogsany commented on #109
https://pkg.go.dev/go.opentelemetry.io/otel@v0.12.0/semconv is roughly what I had in mind.

[2020-10-04 18:58] genebean commented on #378
#427 will take care of the original issue listed here but does not address the otlp exporter docs.

[2020-10-08 19:05] rachelleahklein commented on #397
I'm planning to help provide some documentation on this topic.

[2020-10-12 20:12] fbogsany commented on #423
Fixed in #428

[2020-10-12 20:12] #423 closed

[2020-10-13 16:46] dazuma commented on #353
Fixed. All gems now use `README.md` in documentation.

[2020-10-13 16:46] #353 closed

[2020-10-14 21:19] mwear opened #438 "Configurator improvements"
The configurator was introduced to simplify SDK setup, which used to be fairly cumbersome. It was a step in the right direction, but could use some attention and improvements before GA. This issue is to discuss and track desired changes.

[2020-10-21 15:04] mwlang commented on #412
@fbogsany I can take on this one, esp. now that I see @mwear has added B3 implementation, so what to do makes more sense now.  What I'm not sure about is how changes to configurator to support this plays with #438

[2020-10-22 13:41] fbogsany commented on #412
Thanks @mwlang. I've assigned it to you. We don't have anything concrete around #438 yet, so I wouldn't worry about that, except to make a note of any pain points you experience in trying to implement this.

[2020-10-23 13:57] fbogsany opened #443 "Propagating context for HTTP client libraries"
This issue captures a conversation @robertlaurin and I had yesterday.

Faraday is a commonly used HTTP client wrapper gem that supports stacking middleware around HTTP client requests. It can wrap a variety of HTTP clients, including `Net::HTTP` and [Typhoeus](https://github.com/typhoeus/typhoeus) (for which we should add instrumentation as well). Other gems may provide higher-level interfaces for

[2020-10-23 14:08] fbogsany opened #444 "Add instrumentation for the Koala Facebook client gem"
https://github.com/arsduo/koala

[2020-10-23 14:08] fbogsany commented on #444
Related: #443

[2020-10-23 14:09] fbogsany opened #445 "Add instrumentation for Typhoeus"
https://github.com/typhoeus/typhoeus

Related: #443

[2020-10-23 18:19] johnnyshields commented on #222
Would it be possible to merge this an cut at least a release candidate build of this? I'd like to start experimenting w/ using it in my app.

[2020-10-23 18:34] robertlaurin commented on #222
Hey @johnnyshields, I'm in the process of getting a rails instrumentation gem setup.  We're going to start with it scoped very minimally to just auto instrumenting controller requests.  I'll ref this issue with the PR when it's up so you can track the progress.

If you want to experiment with otel on a rails app, you can inject the rack middleware instrumentation and get your requests traced that

[2020-10-23 18:34] johnnyshields commented on #222
Cool thanks for the reply!

[2020-10-24 06:35] johnnyshields commented on #251
I'm working on this.

[2020-10-24 10:06] johnnyshields commented on #251
Raised PR: https://github.com/open-telemetry/opentelemetry-ruby/pull/446

[2020-10-24 14:45] johnnyshields commented on #257
PR WIP is here: https://github.com/open-telemetry/opentelemetry-ruby/pull/448

[2020-10-25 02:34] robertlaurin opened #449 "GH Actions CI spamming commits"
Encouraging the use of conventional commits makes sense but I'm concerned pinging each commit someone pushes up against a branch is a little too aggressive :)

![image](https://user-images.githubusercontent.com/23463253/97097615-5255ba00-1640-11eb-9175-84f83cde29ce.png)

https://github.com/open-telemetry/opentelemetry-ruby/pull/446#issuecomment-715890873

Hey @dazuma, you are our resident CI exper

[2020-10-25 12:47] johnnyshields opened #451 "OTLP Exporter should support compression"
The OTLP Exporter should support compression.

Currently the only allowed option for compression is `nil`

[2020-10-26 05:33] #196 closed

[2020-10-27 13:39] #451 closed

[2020-10-27 19:19] fbogsany opened #459 "Add a Shutdown() method to TracerProvider"
See https://github.com/open-telemetry/opentelemetry-specification/pull/1074

[2020-10-27 19:50] mwear commented on #438
Currently a user has to do the following to set up custom propagation (B3 in this case):

[code]

on gitter @genebean suggested having:

That specific approach might be challenging due to b3 being in a separate package, but we should be able to come up with something reasonable for supported propagation formats.

[2020-10-27 20:10] mwlang commented on #438
I'm starting to think we may benefit from having a separate `Config` class that holds config state and is a Singleton Object (not singleton pattern).  If we did something like this, other dependency gems that add additional functionality could reopen the `Config` class and add a method like `enable_b3` to "do all the things". Configure would still do it's thing, but also set states on the `Config`

[2020-10-28 00:41] mwear commented on #438
We should keep that option on the table, but for configuring propagation generally, I think it'd be sufficient to have a propagators option that takes a comma delimited string of well known propagator names. For example,`c.propagators = 'tracecontext,baggage'`. This would match the behavior needed for the `OPENTELEMETRY_PROPAGATORS` environment variable as well.

We can build this on top of the in

[2020-10-28 00:50] mwear commented on #438
@mwlang what do you think about this as an approach for #412? If the b3 gem is present we could expose three b3 configurations: `b3`, 'b3multi', and `b3single`. `b3` would setup extractors for b3 single and b3 multi, but only one injector for b3 single. This is due to the spec requirements listed here: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/

[2020-10-30 01:46] genebean commented on #397
FWIW, I still feel that notable amounts of documentation are missing here. #461 only made changes in the comments of two of the four span processors. Additionally, two are located in https://github.com/open-telemetry/opentelemetry-ruby/tree/master/sdk/lib/opentelemetry/sdk/trace while the other two are located in https://github.com/open-telemetry/opentelemetry-ruby/tree/master/sdk/lib/opentelemetr

[2020-10-30 19:46] johnnyshields opened #462 "OTEL BatchSpanProcessor should not spawn a thread during Puma/Unicorn boot"
When using a multi-process webserver such as Puma or Unicorn, no threads should be started during the boot process. These threads won't survive to the child workers.

Here's my config:

[code]

Puma complains `WARNING: Detected 1 Thread(s) started in app boot` when I use the OTEL ruby agent. See example log below from latest Puma:

[code]

This issue has been fixed in other telemetry libs, see for

[2020-10-30 19:49] dazuma commented on #449
Hmm. Yeah I'll see if I can update the script not to add another comment if one has been added previously.

[2020-10-30 19:49] #305 closed

[2020-10-30 20:22] robertlaurin commented on #222
FYI @johnnyshields you can track the discussions and progress around the rails instrumentation on this PR here https://github.com/open-telemetry/opentelemetry-ruby/pull/454

[2020-10-31 18:45] johnnyshields opened #464 "SDK Exporter/BatchProcessor should not hard-fail in an initializer"
If you put a bad URL in to initialize an `OpenTelemetry::Exporter::OTLP::Exporter`, it fails with:

[code]

The recommended Rails initializer code doesn't have any `rescue` block. We were a bit surprised when our app hard failed to boot with an invalid url. We've added the rescue block to the initializer, but I think it would be nicer if maybe OpenTelemetry::SDK.configure could rescue it's block a

[2020-11-02 15:45] fbogsany commented on #462
We already handle restarting the thread in https://github.com/open-telemetry/opentelemetry-ruby/blob/e3771684cca4ff674c968761fed838719fade459/sdk/lib/opentelemetry/sdk/trace/export/batch_span_processor.rb#L144-L151

We have not found it particularly important to *not* start the thread in before fork, despite warnings.

[2020-11-02 16:18] fbogsany commented on #464
The current behaviour is consistent with the [error handling principles](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/error-handling.md#basic-error-handling-principles):

However I don't think we've implemented [configurable error handling](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/error-handling.md#configurin

[2020-11-02 17:18] johnnyshields commented on #464
@fbogsany ok, great. Will configurable error handling also apply to tracers, etc. at runtime?

[2020-11-02 18:41] fbogsany commented on #464
I asked that question in #465. We've taken a stab at this before:
- The initial implementation was strict
- https://github.com/open-telemetry/opentelemetry-ruby/pull/115 removed the runtime checks
- https://github.com/open-telemetry/opentelemetry-ruby/issues/126 suggested an optional strict mode
- https://github.com/open-telemetry/opentelemetry-ruby/issues/203 discussed what to do with invalid att

[2020-11-03 20:50] fbogsany commented on #459
Ironically, it turns out we've had this "forever": https://github.com/open-telemetry/opentelemetry-ruby/blob/dd805ece5b6c77c8920e0d476fab7f424f4804c9/sdk/lib/opentelemetry/sdk/trace/tracer_provider.rb#L44-L61

It looks like we need minor documentation tweaks - I think this was moved from `Tracer` to `TracerProvider` at some point.

[2020-11-03 20:50] #459 closed

[2020-11-03 21:52] fbogsany opened #467 "Ensure null values are documented as invalid/undefined for Span attributes"
Required by the spec compliance matrix.

[2020-11-03 21:58] fbogsany opened #468 "Sampler.should_sample should receive the full parent context"
Currently, we pass the parent `SpanContext`. This requires changes to the `ParentBased` sampler, which checks whether the parent context is `remote?`.

This is a spec compliance matrix issue.

[2020-11-03 21:59] fbogsany opened #469 "Allow samplers to modify tracestate"
Required by the spec compliance matrix.

[2020-11-03 22:06] fbogsany opened #470 "Implement Jaeger Propagator"

[2020-11-04 20:33] #468 closed

[2020-11-08 08:13] johnnyshields opened #473 "Add option to flush tracer on SIGINT / SIGTERM"
Currently, if you SIGINT or SIGTERM a process, there is a chance that pending spans may not be written (esp when using BatchSpanProcessor)

We should add a configuration option which traps these signals, forces a flush, then re-raises the signal

It would look something like:

[code]

[2020-11-09 01:06] genebean commented on #382
+1 to being able to suppress these.

[2020-11-09 01:08] genebean commented on #81
What's the status of this?

[2020-11-14 21:25] rydzykje commented on #378
Will be happy to help with that :)

[2020-11-14 21:26] rydzykje commented on #291
I'm Ruby noob but will be happy to learn something and help with that.

[2020-11-14 21:27] rydzykje commented on #403
Will be happy to help with that :)

[2020-11-16 17:58] kirs commented on #443
As a note, it would be great having something similar to `HTTPClientContext` but for the Redis client (and perhaps for other adapters too).

cc @gustavocaso

[2020-11-16 20:16] fbogsany commented on #291
Thanks @rydzykje - I've assigned this to you.

[2020-11-16 20:17] fbogsany commented on #403
Thanks @rydzykje - I've assigned this to you.

[2020-11-16 20:18] fbogsany commented on #378
Thanks @rydzykje - I've assigned this to you.

[2020-11-16 22:19] fbogsany commented on #473
For now, the specifics of signal handling are up to application authors. We should clearly document `TracerProvider#shutdown` (rather than `flush`) and suggest its use with signal handling. The spec says nothing about signal handling at the moment; and it is difficult to come up with reasonable default behaviour, especially around timeouts (see #341 for work to add a timeout parameter to `shutdown

[2020-11-17 16:05] mwlang commented on #438
@mwear I missed this comment from days ago.  I definitely agree with adding a propagators option and I will wire it up as you described for b3.  Thanks for linking the b3-requirements section.  One thing I wanted to raise here before I got too far along, unless there's a strong desire to build a solution that's easily extensible, I am planning to centralize the logic for validating and wiring up p

[2020-11-18 16:52] #443 closed

[2020-11-18 17:00] #462 closed

[2020-11-19 02:14] #257 closed

[2020-11-19 13:55] #251 closed

[2020-11-21 13:49] johnnyshields commented on #222
Hi, I'd like to instrument ActionView (ERB/HAML/SLIM etc template rendering.) It will use ActiveSupport::Notification hooks. Should it be done as part of the Rails instrumentation or be it's own separate instrumenter?

[2020-11-24 15:09] robertlaurin commented on #222
Hey @johnnyshields that would be awesome, let's do it in the Rails instrumentation gem.

[2020-11-30 02:42] fbogsany opened #483 "Common gem should depend on the API gem"
And require it.

[2020-11-30 06:39] #449 closed

[2020-11-30 11:25] lloeki commented on #352
I encourage you to read this feedback I made to APM vendors: https://github.com/elastic/apm-agent-ruby/issues/379#issuecomment-717341248

tl;dr: just use prepend.

FYI list of instrumentors now using prepend:

- `scout_apm` >= 2.5.2
- `ddtrace` >= 0.27
- `skylight` >= 5.0.0.beta
- `elastic-apm` >= 4.0 (upcoming)
- `airbrake` >= 11.0.2
- `newrelic_rpm` >= 6.14 (partially: Rack's to_app is still ali

[2020-11-30 16:29] #483 closed

[2020-11-30 19:55] #469 closed

[2020-12-01 13:11] johnnyshields opened #488 "Add Lightstep exporter?"
@mwear is there any propagator available for Lightstep or any beta code we could get access to? We'd like to start using Otel with Lightstep as soon as we can.

[2020-12-01 13:16] johnnyshields commented on #313
This is probably needed for the Elasticsearch tracer. ES gem uses Faraday or Net::HTTP under the hood to talk to ES so we should probably disable that one, otherwise we get rather meaningless duplicate traces.

[2020-12-01 22:30] mwear commented on #488
Hi @johnnyshields. The title says propagator, but I just want to clarify if you are asking about a Lightstep propagator, or a Lightstep exporter. I'll answer both questions just in case. There isn't a Lightstep propagator for OTel, but all Lightstep tracing clients support B3 context propagation, as do all OTel libraries. So you could use B3 to propagate context between an app using OTel Ruby and

[2020-12-02 04:56] johnnyshields commented on #488
@mwear sorry meant exporter! (title changed)

It would be great if you could update the documentation on the Lightstep docs site to include how to connect the Opentelemetry-ruby gem.

[2020-12-02 07:53] johnnyshields opened #489 "opentelemetry-instrumentation-rails gem is broken"
This line in your `Gemfile` will cause your app not to boot (version 0.9.0). Please fix and cut a new release.

[code]

[2020-12-02 18:12] johnnyshields commented on #488
I think this can be closed.

[2020-12-02 18:12] #488 closed

[2020-12-02 18:15] johnnyshields commented on #7
👍 to adding safe forking. Puma 5.0 introduced forking from an active child worker and it re-forks every 1000 requests, so I think issues with duplicating in-process spans are bound to happen with the BSP. Refer to: https://github.com/puma/puma/blob/master/docs/fork_worker.md

[2020-12-02 18:32] mwear commented on #488
@johnnyshields: I'll work to get some documentation up on the Lightstep docs page. For the time being, this should be enough to get you started:

[code]

[2020-12-02 18:42] robertlaurin commented on #489
Hey @johnnyshields, just making sure this is what you're running into 👇

[code]

[2020-12-02 18:58] johnnyshields commented on #489
Yep that's the one!

[2020-12-02 19:02] robertlaurin opened #491 "opentelemetry-instrumentation-all is not installing rails instrumentation"
It doesn't run the install message when using only the all gem, however does work when added explicitly.

[2020-12-02 20:33] #491 closed

[2020-12-03 03:27] fbogsany commented on #7
The BSP is fork-safe. If you have an example in the wild demonstrating that isn't true, and can reduce it to a minimal test case, then please open an issue.

For the challenges I mentioned previously:

1. We have no gRPC exporters at present, so this is a problem for future us.
2. We're using `Random::DEFAULT` for trace and span ID generation, and MRI reseeds this at fork.
3. The BSP is fork-safe

[2020-12-03 17:15] ericmustin opened #494 "Errors installing OpenTelemetry-SDK v0.9.0"
👋 just ensuring we record something discussed in the gitter, i'm seeing some errorr messages when attempting to install the opentelemetry-sdk v0.9.0 gem, seems like a dependancy issue with opentelemetry-common that i haven't quite worked out yet.

Reproduction: https://github.com/ericmustin/docker_reproduction

Consistently seeing failures to install the gem with errors like

[code]

[2020-12-03 18:11] johnnyshields commented on #494
I saw the same thing. I was able to resolve it by manually removing all opentelemetry gems from my Gemfile.lock then `bundle install`

[2020-12-03 18:19] johnnyshields commented on #489
I've confirmed it's fixed on 0.10.0. Closing issue.

[2020-12-03 18:19] #489 closed

[2020-12-03 18:54] fbogsany commented on #494
Weirdly, the repro didn't work for me (or rather, it *did* work, unexpectedly). I just released v0.10.0. Could you please try with that?

[2020-12-03 19:10] ericmustin commented on #494
v0.10.0 resolves the issue for me... im happy to call this closed

[2020-12-03 19:10] #494 closed

[2020-12-06 12:55] johnnyshields commented on #7
@fbogsany then can this issue be closed?

[2020-12-06 12:58] johnnyshields commented on #281
@fbogsany can this issue be closed? It seems reasonable for OTEL to skip support for EOL versions of Ruby. (Ruby 2.4 was EOL as of March 31, 2020)

[2020-12-06 12:59] johnnyshields commented on #159
@fbogsany can this issue be closed? It seems the pattern the team has is working for now.

[2020-12-06 13:05] johnnyshields commented on #91
@fbogsany What's the real-world justification for this? Who is only supporting OpenTracing but not OpenTelemetry?

[2020-12-06 13:05] johnnyshields commented on #90
@fbogsany What's the real-world justification for this? Who is only supporting OpenCensus but not OpenTelemetry?

[2020-12-06 13:06] johnnyshields commented on #258
I did this in PR #477. Please close this issue.

[2020-12-06 13:07] johnnyshields commented on #67
@fbogsany Think this should be split into smaller tickets then close this one.

[2020-12-07 02:06] #371 closed

[2020-12-07 02:07] #7 closed

[2020-12-07 02:08] #281 closed

[2020-12-07 02:08] #159 closed

[2020-12-07 02:14] fbogsany commented on #91
A compatibility shim is required by the spec, although that requirement is implicit for now. There’s a tracking issue here: https://github.com/open-telemetry/opentelemetry-specification/issues/1174

[2020-12-07 02:16] fbogsany commented on #90
This is more complicated than opentracing. OpenCensus for Ruby never progressed beyond Alpha. There is a tracking issue for the compatibility shim here: https://github.com/open-telemetry/opentelemetry-specification/issues/1175. It is not clear whether we need to implement one for Ruby.

[2020-12-07 02:17] #258 closed

[2020-12-07 02:18] fbogsany commented on #67
I think @mwear already opened issues for all the relevant instrumentation. Closing this.

[2020-12-07 02:18] #67 closed

[2020-12-10 01:40] mwear opened #507 "Add versioning and stability document"
This issue is to track the progress of our versioning and stability plan for OpenTelemetry Ruby.

The current proposal is in this google doc: https://docs.google.com/document/d/1lz52CAtWS2k-SvbmDh-V6LgAj36h1bXcrwalIOM8VP8/edit

Related to:
* https://github.com/open-telemetry/oteps/pull/143
* https://github.com/open-telemetry/opentelemetry-specification/issues/1267

[2020-12-10 19:12] robertlaurin commented on #421
I've added this everywhere I think it made sense to do so, did I miss any spots, should we keep this issue open?

[2020-12-11 02:50] fbogsany commented on #421
- [ ] faraday (should probably use `OpenTelemetry::Common::HTTP::ClientContext.attributes`)
- [ ] excon (should probably use `OpenTelemetry::Common::HTTP::ClientContext.attributes`)
- [ ] ethon (should probably use `OpenTelemetry::Common::HTTP::ClientContext.attributes`)
- [ ] mongo
- [ ] restclient (should probably use `OpenTelemetry::Common::HTTP::ClientContext.attributes`)

[2020-12-14 18:39] fbogsany opened #518 "Implement the fallback for service.name"
https://github.com/open-telemetry/opentelemetry-specification/pull/1269 defines a required fallback for `service.name` of `"unknown_service:#{process.executable.name}"` or `"unknown_service"` if the executable name is not available.

We do not presently provide a default in the [`Configurator`](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/sdk/lib/opentelemetry/sdk/configurator.

[2020-12-18 02:11] jcarres-mdsol opened #523 "Support for Postgresql"
Postgresql is also a very common engine used together with Ruby on Rails.
Implement Postgresql instrumentation similar to the one for [Mysql](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/instrumentation/mysql2/lib/opentelemetry/instrumentation/mysql2/patches/client.rb).

BTW, wouldn't it be easier to create instrumentation for ActiveRecord and Sequel than for each database or t

[2020-12-21 15:20] fbogsany opened #524 "Jaeger exporter spec compliance"
The [SDK environment variable spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#jaeger-exporter) has a default port of 6832 for the Jaeger agent exporter. According to [the Jaeger documentation](https://www.jaegertracing.io/docs/1.21/cli/#jaeger-agent), this is the default port for Binary Thrift encoding.

Our default is 6831

[2020-12-21 15:28] fbogsany opened #525 "Implement OTEL_TRACE_SAMPLER environment variable"
See [General SDK Configuration](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-environment-variables.md#general-sdk-configuration) in the spec.

[2020-12-21 20:51] #203 closed

[2020-12-21 20:51] #464 closed

[2020-12-22 01:16] #525 closed

[2020-12-22 14:53] johnduhart commented on #523
It would, but it would miss calls that don't use an ORM.

[2020-12-22 18:25] kbrock commented on #523
When I use rack mini profiler, I changed it  to focus on ActiveSupport notifications. Calls that do not fetch rails objects (e.g.: pluck, count, min, max) tend to not be represented well - specifically pluck not having a row_count.
But I found ActiveSupport notifications, even with that caveat, worked better for my needs and covered a majority of the use cases.

It may be possible to leverage know

[2020-12-22 21:04] fbogsany opened #528 "SDK Trace & Span ID generation should be pluggable"
The generation code currently lives in the API, in `OpenTelemetry::Trace`. We need to relocate it to somewhere that allows the SDK to replace it, if requested. It isn't immediately clear where to place it. It is called from the `SpanContext` constructor, which has no knowledge of the `TracerProvider`, for example.

[2020-12-23 16:21] #528 closed

[2020-12-23 20:34] robertlaurin opened #530 "Add GraphQL error handling."
GraphQL instrumentation currently provides poor visibility into failed GraphQL requests as the typical configuration is done in the form of a post which returns a 200 even if the query is malformed or fails for other reasons.

Some [exploration](https://github.com/open-telemetry/opentelemetry-ruby/pull/527/commits/caac3293a8ac5a34a7ccf8eff1788098d919d82f) was while [creating the instrumentation ge

[2020-12-23 21:07] robertlaurin opened #531 "Ruby Kafka instrumentation notifications"
The work done to add event notifications was [removed](https://github.com/open-telemetry/opentelemetry-ruby/pull/476/commits/fd834a79c7aeb1a6066d2913ce5e06a84f387f4d) from the [PR to add the ruby kafka instrumentation](https://github.com/open-telemetry/opentelemetry-ruby/pull/476).

Some of these notifications could be better served as events, and some as spans.  This was removed from the original

[2020-12-24 08:13] sribalakumar commented on #254
@mwear @fbogsany I am interested to submit PR for this adapter.

For trace context propagation via SQS is it advisable to use [SQS message attributes ](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-metadata.html#sqs-message-attributes)?

A point to think over is the 10 fields limitation that AWS has for message attributes. AWS X-ray on the other hand uses t

[2020-12-24 16:44] fbogsany commented on #254
Thanks @sribalakumar, I've assigned this to you.

There are two interesting scenarios with SQS:
1. Applications are using AWS X-ray as their trace backend.
2. Applications are using some other tracing backend.

From what I can tell, for 1 we should use the message system attribute `AWSTraceHeader` for propagation. This imposes two requirements on the application: it must use the X-ray trace propag

[2020-12-24 16:48] fbogsany commented on #254
Looking around at what has been done for other languages, the OTel Java instrumentation for AWS SDK does nothing special for SQS, but documents that only the AWS Trace Header format is supported: https://github.com/open-telemetry/opentelemetry-java-instrumentation/tree/master/instrumentation/aws-sdk/aws-sdk-2.2/library

The [Lambda instrumentation](https://github.com/open-telemetry/opentelemetry-j

[2020-12-24 18:28] fbogsany opened #533 "Ruby 3.0 support"
Ruby 3.0 is expected to be released tomorrow. We should add it to CI as soon as possible.

One significant change for us is that `Random::DEFAULT` is deprecated and now refers to the `Random` class instead of a `Random` instance. We call `Random::DEFAULT.bytes` in `Trace.generate_span_id` and `Trace.generate_trace_id`. This will continue to be valid until (presumably) Ruby 3.1, at which time we wi

[2021-01-04 16:59] dazuma opened #541 "[CLEANUP] OTLP instrumentation tests are disabled on Ruby 3.0"
Currently, the CI workflow disables `opentelemetry-instrumentation-otlp` tests on Ruby 3.0 because OTLP depends on `google-protobuf` which hasn't yet been released for Ruby 3. I'm working with the protobuf team to get the gem updated. Once that's done, we can re-enable the test.

[2021-01-04 17:07] dazuma opened #542 "[CLEANUP] Ruby-kafka appraisals older than 1.3 failing on Ruby 3.0"
We've currently disabled the `ruby-kafka-1.2.0`, `ruby-kafka-1.1.0`, and `ruby-kafka-1.0.0` appraisals in the `opentelemetry-instrumentation-ruby_kafka` tests because they are causing the following failure:

[code]

`ruby-kafka-1.3.0` seems to be working.

We need to investigate why the test is failing. It may be that the older versions of the library are incompatible with Ruby 3 (in which case we

[2021-01-04 17:07] #533 closed

[2021-01-06 14:36] fbogsany opened #543 "Release process is error-prone and cumbersome"
The last few releases have failed early, typically with an error retrieving the `thrift` gem for the Jaeger exporter. Because the Jaeger exporter is early (4th) in the list of gems to build, the release aborts with the majority of gems unreleased. The unreleased gems have to be released manually, one at a time, which is quite cumbersome.

A simple improvement would be to move the Jaeger exporter t

[2021-01-06 21:01] dazuma commented on #543
I'm actually on it; I worked on a retry-release action over the holiday, and just need to finish testing it before rolling it out to the otel repo.

[2021-01-06 22:31] fbogsany commented on #543
You're amazing @dazuma - thank you!

[2021-01-11 21:56] fbogsany commented on #43
Is this still something we want to explore @mwear?

[2021-01-11 21:57] fbogsany commented on #181
I think we can close this @mwear.

[2021-01-11 21:59] fbogsany commented on #197
Is this required for the RC milestone @mwear?

[2021-01-11 22:05] fbogsany commented on #198
We appear to be setting status based on HTTP response codes in all of our HTTP client and server framework auto-instrumentation. Is anything else required for this issue @mwear?

[2021-01-11 22:06] fbogsany commented on #201
I think this issue can be closed @mwear.

[2021-01-11 22:17] fbogsany commented on #309
This has been implemented for the `BatchSpanProcessor` and the OTLP `Exporter`:

- `otel.otlp_exporter.request_duration` - duration of export request with `status` label (response code or `unknown`)
- `otel.otlp_exporter.failure` - counts failed export requests with `reason` label (response code or `timeout`)
- `otel.bsp.buffer_utilization` - observes buffer utilization
- `otel.bsp.export.success`

[2021-01-11 22:17] #309 closed

[2021-01-12 15:39] Asafb26 opened #549 "Baggage not propagated for consumers who use ruby_kafka instrumentation"
currently, there is a different logic between:
[code]
and
[code]

The first keeps the current context active while use the parent span_context data, while the second replaces the current context, yet use the parent span_context data (from the replaced context).

The issue starts with the fact that baggage is not a part of span_context, so for proper propagation of baggage data - we must use the se

[2021-01-12 15:50] fbogsany commented on #549
This difference seems really unfortunate. Are we correctly implementing the spec here in `tracer.in_span(..., with_parent: ...)`? If not, we should fix that. If we are, I wonder if this difference in behaviour should be raised as a spec issue?

[2021-01-12 16:05] Asafb26 commented on #549
AFAIK most instrumentation uses the second approach, so in my perspective - if it's not an issue, I can align the implementation of ruby_kafka with the rest.
regarding the specs - the baggage is not a part of the span_context, which I found it bit weird, but yet confirms that we are aligned to the specs

[2021-01-12 18:39] #43 closed

[2021-01-12 18:42] #181 closed

[2021-01-12 18:45] mwear commented on #197
It's not. I believe these were suggestions that I captured based on the Shopify version of the Redis instrumentation. If we are not missing anything by not instrumenting the methods discussed above, we can consider closing this.

[2021-01-12 18:46] mwear commented on #198
I think we are doing the right thing. Closing...

[2021-01-12 18:46] #198 closed

[2021-01-12 18:46] #201 closed

[2021-01-12 19:25] fbogsany commented on #197
I'm going to keep this open, but remove the milestone.

[2021-01-13 18:46] mwear commented on #470
@fhwang showed interest in this on gitter. If you comment here, I can assign this to you.

[2021-01-13 18:47] fhwang commented on #470
🙋

[2021-01-15 06:30] jcarres-mdsol opened #558 "Mysql instrumentation creates one trace per sql statement"
I've added Rack, Rails and Mysql2 instrumentation to an unremarkable Rails 6.0 project.

I get the Rack and Rails instrumentation details in one trace for the get request and then each sql statement has its own trace so they can't put on the same tree as they should be. It looks like this:
<img width="328" alt="Screen Shot 2021-01-14 at 10 27 47 PM" src="https://user-images.githubusercontent.com/1

[2021-01-15 16:50] robertlaurin commented on #558
Hey @jcarres-mdsol, I've tried to recreate this with a new rails `6.0` project.

My opentelemetry configuration.
[code]

Added a users model
[code]

I created an index action
[code]

The view just loops through the users and prints out their names.

When I hit the users#index I get the following trace.
![image](https://user-images.githubusercontent.com/23463253/104753204-49dfbd80-571d-11eb-82a5-8b

[2021-01-15 19:27] jcarres-mdsol commented on #558
This application indeed has background workers but I think these statements happen from the rails app because I was sending http requests to the API provided by that app and the traces from that lacked the DB spans. Those requests should be hitting the DB.

We are using delayed job and tried adding that instrumentation but does not seem to change the spans we get. I've just noticed that we are log

[2021-01-15 19:45] robertlaurin commented on #558
Yeah I expect that most typical rails apps will perform a mysql statement within the context of the request, but it was worth checking to see if you're doing something different.

This message gets emitted [here](https://github.com/open-telemetry/opentelemetry-ruby/blob/4280f65e6bd4889d96d4bb93a16fd8e4ae42f474/sdk/lib/opentelemetry/sdk/internal.rb#L47-L59).  I recently came across this recently fo

[2021-01-15 20:48] jcarres-mdsol commented on #558
Thanks for the offer.
This application has background workers checking the health of other services and an API to access the results of those health checks. Everything is a different container running on AWS ECS.
It is pretty much an out-of-the-mill Rails app, can not think of anything unique about it.

As a reference below the Gemfile (removed our private gems, one of which adds otel library othe

[2021-01-15 21:24] #420 closed

[2021-01-19 20:06] robertlaurin commented on #542
It appears that older version of `ruby-kafka` are not compatible with Ruby 3 due to the changes regarding positional and keyword args.

Example from [Version 1.3.0](https://github.com/zendesk/ruby-kafka/blob/v1.3.0/lib/kafka/async_producer.rb#L220)
Example from [Version 1.2.0](https://github.com/zendesk/ruby-kafka/blob/v1.2.0/lib/kafka/async_producer.rb#L211)

[code]

So it looks like we should ju

[2021-01-19 21:04] #542 closed

[2021-01-20 02:04] jcarres-mdsol commented on #558
@robertlaurin an update on this.
Indeed the spans had no parents because I added the delayed job library incorrectly. Now works well.

But it has surfaced another problem which delayed job when backed up by the DB.

The mysql instrumentation picks everything so it will pickup the calls to the DB by the job manager of delayed job. Which I think the delayed job instrumentation will not add to any sp

[2021-01-20 16:10] robertlaurin commented on #558
@jcarres-mdsol thank you for the update and sharing your findings.

This is very similar to something I'm working on in regards to `sidekiq` and the `sidekiq-scheduler` gem that is producing many redis spans without any parent trace.  There has been some discussion around how to handle this scenario, in some contexts the application owner may want to ignore these spans, and in others not.

We brie

[2021-01-20 23:28] austinlparker opened #567 "Change to OTLP export path breaks non-collector routes"
https://github.com/open-telemetry/opentelemetry-ruby/blob/22f6ba0ae9a01ada51c10385e208206da79393b3/exporter/otlp/lib/opentelemetry/exporter/otlp/exporter.rb#L44

This change makes OTLP exporter unsuitable for people who accept OTLP directly - can this be made optional, or if you supply a fully-qualified path to `endpoint` it overrides this?

[2021-01-21 15:27] #567 closed

[2021-01-21 23:48] owais opened #569 "Rails instrumentation breaks on Rails v4.2.11"
-----------------
**Rails: 4.2.11**
**Ruby: 2.6.6**
**opentelemetry-instrumentation-rails: 0.12.0**

Example project where issue can be reproduced: https://github.com/owais/rails-otel

--------------

I tried OpenTelemetry Ruby on a Rails project and ran into an issue with the rails instrumentation gem. Looks like the instrumentation patches ActionController Metal's dispatch method and expects thr

[2021-01-21 23:55] owais commented on #569
If updating the rails instrumentation to make the 3rd argument optional is an acceptable solution, I can submit a PR with that patch.

[2021-01-22 14:37] fbogsany commented on #569
Rails 4.2.11 is very old at this point. The latest Rails release is 6.1.1, and only the 6.1.Z series is supported by the Rails core team. Our support extends back to 5.2.0:

https://github.com/open-telemetry/opentelemetry-ruby/blob/4a7054f36a734810f292971400ce4f07d49c0d26/instrumentation/rails/Appraisals#L8-L20

We will likely drop support for 5.2.0 soon, since it is broken with Ruby 3.0.

[2021-01-23 11:32] johnnyshields commented on #569
@fbogsany Rails 5.x works on Ruby 2.6, which is slated for EOL on March 31, 2022. Support for Rails 5.2 should not be dropped before then.

I believe Rails 4.x works up to Ruby 2.5, which is EOL on March 31, 2021.

TLDR; it would be safe to add minimum version Rails >= 5, but this library should keep Rails 5 support around for sometime (especially given that it works today.)

[2021-01-25 15:33] #518 closed

[2021-01-26 18:40] mwear opened #576 "rename default branch to main"
As discussed at the SIG meeting this morning, we'd like to rename the default branch to main.

Related community issue:
https://github.com/open-telemetry/community/issues/402

Here is a document that summarizes the steps: https://docs.google.com/document/d/1lkA0Re3vWfqXmuYLhL93Y6ABR27Sg6DzPcwi4kPXj0Y/edit

[2021-01-26 18:56] owais commented on #569
Makes sense @fbogsany. I don't think it's worth adding support for such an old version. Closing.

[2021-01-26 18:56] #569 closed

[2021-01-26 23:09] treyhyde opened #578 "CompositePropagator#extract warning for each hit"
`W, [2021-01-26T23:05:20.556177 #9441]  WARN -- : Error in CompositePropagator#extract undefined method `match' for nil:NilClass`

From various GH issues and gitter convos I've been able to piece together

[code]

to bootstrap OTEL in this application.

[2021-01-26 23:43] treyhyde opened #579 ""stack level too deep" on redis trace"
Rails 6 / unicorn application with `c.use_all`

This happens with and without prometheus instrumentation enabled.  So may or may not be related to open-telemetry/opentelemetry-ruby#352

[code]

<img width="988" alt="Screen Shot 2021-01-26 at 3 43 14 PM" src="https://user-images.githubusercontent.com/62077/105921070-3b32b980-5fed-11eb-8428-3b6ce8767ebc.png">

[2021-01-27 04:02] arielvalentin commented on #576
👋🏼 Something to consider would be to use the `$default_branch` macro in actions workflows as opposed to using explicit branch names.

There are more details available here:

https://github.blog/changelog/2020-07-22-github-actions-better-support-for-alternative-default-branch-names/

[2021-01-27 07:07] dazuma commented on #576
@arielvalentin Thanks for the tip! I'll look into where we might be able to use that. (However, it might be the case that most of our workflows should potentially work on multiple branches besides the default, if we have release/stable branches.)

[2021-01-27 11:56] arielvalentin commented on #576
In those cases release and stable branches can still be referred to by name since Actions workflows allow for one to register multiple branches at a time.
E.g. of what a push looks likes incorporating both:

[code]

The `$default_branch` macro ￼will come in handy in the rename.

- https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#patterns-to-match-branches-and-tags

H

[2021-01-28 15:50] fbogsany commented on #579
What other gems do you have loaded (that may contain instrumentation)?

[2021-01-29 03:05] treyhyde commented on #579
raindrops, prometheus exporter, maybe something in unicorn hooks?   Certainly nothing intentional.

[2021-01-29 14:27] fbogsany commented on #579
This is the same problem as #352. Prometheus exporter uses `alias_method` to patch methods in `Redis::Client` and other classes: https://github.com/discourse/prometheus_exporter/blob/master/lib/prometheus_exporter/instrumentation/method_profiler.rb

[2021-01-29 14:31] fbogsany commented on #579
Hmm, you mentioned that the problem occurred even with Prometheus exporter instrumentation disabled. Can you remove Prometheus exporter altogether to confirm whether that's the problem?

I looked through Raindrops and couldn't find anything suspicious.

[2021-01-29 20:22] bogdandrutu commented on #576
@mwear should this be closed? Looks like the branch is changed

[2021-01-29 20:38] dazuma commented on #576
Yes, closing.

[2021-01-29 20:38] #576 closed

[2021-01-29 22:48] mwear commented on #576
Thanks @dazuma 🙏.

[2021-01-29 23:53] #543 closed

[2021-02-01 17:29] treyhyde commented on #579
Right, full on removing the prometheus_exporter gem from the bundle does the trick.

<img width="1455" alt="Screen Shot 2021-02-01 at 9 28 55 AM" src="https://user-images.githubusercontent.com/62077/106495028-018c0380-6470-11eb-9270-d7fa970d96d5.png">

[2021-02-02 19:05] mat-rumian opened #595 "Opentelemetry SDK - SimpleSpanProcessor error - undefined method export"
**Description:**
Undefined method export for SimpleSpanProcessor appears.

**Steps:**
I've used [example application](https://github.com/JetBrains/sample_rails_app).
1. Add in Gemfile:
  gem 'opentelemetry-sdk', '0.13.1'
  gem 'opentelemetry-instrumentation-all', '0.13.0'
  gem 'opentelemetry-exporter-otlp', '0.13.0'
2. Add in config/environment.rb
[code]
3. Run the [application](https://github.co

[2021-02-03 01:22] johnduhart commented on #558
Just as a hint to others, we ended up solving this internally by creating a custom sampler that drops root spans for database operations (`db.system` attribute present)

[2021-02-04 18:17] robertlaurin commented on #595
If you look at the [`initialize` method](https://github.com/open-telemetry/opentelemetry-ruby/blob/opentelemetry-sdk/v0.13.1/sdk/lib/opentelemetry/sdk/trace/export/simple_span_processor.rb#L31-L33) for the `SimpleSpanProcessor` you'll see that it doesn't specify a keyword argument `exporter`.

In your config block you're passing in `exporter: OpenTelemetry::Exporter::OTLP::Exporter.new()` which is

[2021-02-09 17:21] mwear opened #602 "Zipkin Exporter"

[2021-02-10 15:08] fbogsany commented on #549
Fixed in #550

[2021-02-10 15:08] #549 closed

[2021-02-11 12:48] hmadison opened #605 "How can I have per instrumentation propagators?"
Hi,

While looking at the Kafka implementation I noticed that `OpenTelemetry.propagation.inject` is a share singleton across all of the running instrumentations. I'm wondering if its possible to have per instrumentation propagators in situations where there are [different trace context](https://www.w3.org/TR/trace-context-protocols-registry/) protocols.

To the best of my understanding, opentelemt

[2021-02-11 16:16] fbogsany commented on #605
Thanks for the reference. From that, I see that protocol-specific (MQTT, AMQP, HTTP, etc.) encodings are defined. This should be handled with protocol-specific [Getters](https://github.com/open-telemetry/opentelemetry-ruby/blob/main/api/lib/opentelemetry/context/propagation/text_map_getter.rb) and [Setters](https://github.com/open-telemetry/opentelemetry-ruby/blob/main/api/lib/opentelemetry/contex

[2021-02-12 17:56] hmadison commented on #605
Thanks for the guidance! I'll work on getting something written up for the specification repo.

Hunter

[2021-02-16 18:04] fhwang opened #609 "Add instrumentation info to README"
For newbies, answer a few basic questions:

- Which libraries are currently instrumented?
- Which instrumentations are being worked on?
- Which instrumentations have been commonly requested but could use help?
- Where are the instrumentation libraries, both in this repo and as a gem install?

[2021-02-16 20:55] #412 closed

[2021-02-16 20:55] #403 closed

[2021-02-18 15:34] fbogsany opened #613 "Implement Fields in Propagator"
See https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/context/api-propagators.md#fields

[2021-02-18 16:02] #467 closed

[2021-02-18 19:07] fbogsany commented on #524
The spec requires at least one of:
- Jaeger Thrift over UDP
- Jaeger Protobuf via gRPC
- Jaeger Thrift over HTTP

Binary Thrift over HTTP is acceptable 👍

Looking across implementations of OpenTelemetry, for Jaeger agent exporters, we find:

| Language | Compact Thrift | Binary Thrift |
|--|--|--|
| JS | | x |
| Swift | | x |
| Go | x | |
| Python | x | |
| Ruby | x | |
| Rust | x | |
| .NET | x |

[2021-02-18 19:07] #524 closed

[2021-02-22 15:55] fbogsany opened #621 "ActiveSupport instrumentation"

[2021-02-22 15:55] fbogsany opened #622 "ActiveRecord instrumentation"

[2021-02-22 15:56] fbogsany opened #623 "Google API client instrumentation"

[2021-02-22 15:56] fbogsany opened #624 "LMDB instrumentation"

[2021-02-25 19:01] #609 closed

[2021-02-26 22:16] fhwang commented on #304
@ericmustin How would you feel about me taking this one? I was thinking of making some sort of Rake task to make it easier to automatically generate the Markdown files needed by the OTel registry.

[2021-02-26 22:31] ericmustin commented on #304
ah my bad, dropped the ball here.  Yes i think a rake task would be appropriate, feel free to give it a shot.
![ball drop](https://media.tenor.com/images/72967302d062f1a9f361bb181e589758/tenor.gif)

[2021-03-02 16:28] #304 closed

[2021-03-02 16:34] fhwang commented on #304
Oops, I mis-linked these. #628 makes it *easier* to perform this task but it's still something to be run manually for now. I'll make that PR to `opentelemetry.io` now.

[2021-03-09 12:50] pellared opened #647 "HTTP Span Attributes: `http.url` must not contain username / password"
As is stated in the recent [specification change](https://github.com/open-telemetry/opentelemetry-specification/pull/1502) :

[2021-03-09 15:41] fbogsany commented on #647
Thanks for the issue. I confirmed 2 of our instrumentations violate this requirement. I've pushed up tests in #648 and I'll work on a fix.

[2021-03-09 16:25] #647 closed

[2021-03-10 01:33] mwear commented on #470
Closing as #564 has merged.

[2021-03-10 01:33] #470 closed

[2021-03-11 17:22] arielvalentin opened #652 "Errors Running Examples"
The Examples [`README`](https://github.com/open-telemetry/opentelemetry-ruby/tree/f68ba5e02394be7de6111f4f8f6583c945d8d3e6/examples/http#running-the-example) refer to a "Developer Setup" section in the main [`README`](https://github.com/open-telemetry/opentelemetry-ruby/blob/f68ba5e02394be7de6111f4f8f6583c945d8d3e6/README.md), which does not exist.

Since I already have `docker` installed I was ab

[2021-03-18 03:58] sj26 commented on #488
You should put these instructions somewhere more accessible, I had to hunt pretty hard for these! But OpenTelemetry is a great way to hook this up, and enables a lot more stuff than the datadog-ish or opentracing approaches suggested within Lightstep.

[2021-03-18 04:20] sj26 opened #664 "Obscure configuration error"
My first experience with this gem was:

[code]

There was an error in my configuration, which was roughly copied from an example in an issue within this repository:

[code]

It was revealed when I wrapped it to output more information about the exception:

[code]

(it was `unknown keyword: :insecure`)

Perhaps whatever is logging this error should provide more context?

[2021-03-18 14:00] fbogsany commented on #664
The problem is that we're rescuing any errors during configuration and instead raising a ConfigurationError (to allow users to supply their own error handling, and to distinguish config errors from errors that occur elsewhere), but in doing so, we discard the original error. It *is* available from `e.cause`, but we should probably just report information from it directly.

Thanks for raising the i

[2021-03-18 15:24] fbogsany opened #666 "Release PR #662 failed with errors"
A release job failed.

Release PR: #662
Commit: https://github.com/open-telemetry/opentelemetry-ruby/commit/6777495dcfcd82c3478b99b9fe319e4cbe3e205e

----

Release job completed with errors.

Failed to release opentelemetry-instrumentation-lmdb 0.16.0:
Remmote repo is open-telemetry/opentelemetry-ruby.git, expected open-telemetry/opentelemetry-ruby

Failed to release opentelemetry-instrumentation-

[2021-03-18 15:26] fbogsany opened #667 "Release PR #662 failed with errors"
A release job failed.

Release PR: #662
Commit: https://github.com/open-telemetry/opentelemetry-ruby/commit/6777495dcfcd82c3478b99b9fe319e4cbe3e205e

----

Release job completed with errors.

Failed to release opentelemetry-instrumentation-lmdb 0.16.0:
Remmote repo is open-telemetry/opentelemetry-ruby.git, expected open-telemetry/opentelemetry-ruby

Failed to release opentelemetry-instrumentation-

[2021-03-18 15:31] fbogsany commented on #667
This is a local failure when I tried to run `toys release retry --yes --verbose 662`. The specific failure was:
[code]

[2021-03-18 15:32] fbogsany opened #668 "Release PR #662 failed with errors"
A release job failed.

Release PR: #662
Commit: https://github.com/open-telemetry/opentelemetry-ruby/commit/6777495dcfcd82c3478b99b9fe319e4cbe3e205e

----

Release job completed with errors.

Failed to release opentelemetry-instrumentation-lmdb 0.16.0:
Rubygems credentials needed but not provided

Failed to release opentelemetry-instrumentation-http 0.16.0:
Aborting because initial setup previousl

[2021-03-18 15:33] #666 closed

[2021-03-18 15:34] fbogsany commented on #668
Steps beyond #667
[code]

[2021-03-18 15:42] #668 closed

[2021-03-18 15:42] #667 closed

[2021-03-19 06:53] drogus opened #670 "Same `trace_id` generated for many requests"
I'm using rack instrumentation with a rails application and I'm seeing a weird behavior. On one of the routes a `trace_id` can be often assigned to multiple requests. It isn't always the same `trace_id`, but from time to time there is a bunch of requests (often hundreds) that have the same `trace_id`. It happens usually in a relatively small time frame (as far as I can tell up to 10-20 minutes). A

[2021-03-19 08:39] drogus commented on #670
After further investigation it turns out that most of this calls are done with a `rest-client` gem, but then there are also cases where a root span is "organic" (ie. a web browser request) and the rest of the requests with the same trace id are done with a rest-client.

[2021-03-19 12:04] fhwang commented on #170
Looks like this issue was fixed by deleting the test in 031eb4d1271455775de613cbdc6a10b6b647aa01?

[2021-03-19 14:55] ahayworth commented on #670
It inspects the Rack env to see if it should be setting the parent span context for this request (ie: the inbound request had trace propagation headers of some kind). But otherwise, no.

It certainly does sound weird. If you have a way to reproduce this, it's probably something worth investigating! The way Rails does it with their [executable test cases](https://edgeguides.rubyonrails.org/contribu

[2021-03-19 15:31] fhwang commented on #595
In the interests of lowering the barrier to entry, how would we feel about validating the method signatures of the `exporter` argument in processor instantiation? A clear error might save a lot of engineer cycles.

[2021-03-19 16:37] fhwang commented on #421
@robertlaurin Do you mind if I take on a few of these?

[2021-03-19 16:38] robertlaurin commented on #421
@fhwang please do 😄

[2021-03-19 16:39] fhwang commented on #438
See also #321.

[2021-03-20 15:52] fhwang commented on #421
For the HTTP instrumentations, are we saying we want to add the `peer.service` setting as an automatic value in `OpenTelemetry::Common::HTTP::ClientContext.attributes`? Just double-checking because that currently defaults to an empty hash, and I wonder if it would be surprising to have values show up there. On the other hand it's not obvious where would be a better way to put it.

[2021-03-23 02:30] #664 closed

[2021-03-23 05:09] sj26 commented on #664
Thanks fbogsany, I see the adjustments! 🥳

It's not quite what I had in mind, though. The new implementation still avoids displaying a stack trace, or the causing error class.

Instead I'd propose appending the exception's `#full_message` in opentelemetry's default error_handler which would reveal the full exception's details including class, message, backtrace, and the chain of causal exceptions'

[2021-03-23 12:08] fhwang commented on #421
Thinking on it more, I suppose putting in `HTTP::ClientContext`, while it would be convenient, would be pretty confusing. I suppose what'll happen over time is we'll want to evolve towards some common utility code used by all HTTP libraries and put this sort of thing there. I'll ignore the duplication for now.

[2021-03-23 13:37] fhwang commented on #652
Happy to take on getting the HTTP example cleaned up a bit, primarily just moving it off of docker-compose. It's useful for my work on #421.

[2021-03-23 18:38] fbogsany commented on #664
The default `error_handler` is intended to be called in a wide variety of contexts. We need to balance verbosity with clarity, and we want to avoid spewing tons of stack traces into logs if someone uses the APIs incorrectly. It may be useful to provide a verbose `error_handler` as an option in the configuration or in `opentelemetry-common`, but I don't see us making that the default.

[2021-03-23 21:56] fhwang commented on #652
Care to take a look at #683?

[2021-03-24 20:05] fbogsany commented on #595
Sounds like a good idea 👍

[2021-03-25 18:28] github-actions[bot] opened #687 "Release PR #686 failed with errors"
A release job failed.

Release PR: #686
Commit: https://github.com/open-telemetry/opentelemetry-ruby/commit/90251662305287131ff8bc5640e867c68673e7ea

----

Release job completed with errors.

Failed to release opentelemetry-instrumentation-http 0.16.1:
Command failed with exit code 1: ["gh", "api", "repos/open-telemetry/opentelemetry-ruby/releases", "--input", "-", "-H", "Accept: application/vnd.g

[2021-03-26 10:52] drogus commented on #670
Is there a list of those headers somewhere? The only thing I could find are a few headers in one of the tests: https://github.com/open-telemetry/opentelemetry-ruby/blob/6c48b90b7ee3e2cc529ea31ab4c1e2d34ed4ddb3/api/test/opentelemetry/context/propagation/rack_env_getter_test.rb#L16-L18

[2021-03-26 16:30] ahayworth commented on #670
@drogus not exactly, because OpenTelemetry SDKs allow you to propagate context in multiple ways - so the possible values get a little buried in layers of abstraction. 😄  But here are the default ones:
- W3C trace context (one of the defaults): `trace-id` and `trace-parent` (ref: https://www.w3.org/TR/trace-context/#traceparent-header-field-values)
- W3C baggage (one of the defaults): `baggage` (re

[2021-03-29 14:25] fbogsany commented on #670
For clarity, `traceparent` is the header name for W3C trace context propagation.

[2021-03-29 15:08] #170 closed

[2021-03-30 16:03] fhwang commented on #421
The five instrumentations covered in the checklist above are all finished, should we close this one?

[2021-03-30 16:04] #602 closed

[2021-03-30 16:18] #687 closed

[2021-03-30 18:28] fbogsany commented on #421
Thanks @fhwang!

[2021-03-30 18:28] #421 closed

[2021-03-31 12:31] mmontalvo commented on #245
Hi 👋 !
Just wanted to know if there is any update regarding this issue, and if not, happy to help!

[2021-03-31 12:57] arielvalentin commented on #245
@mmontalvo please join in the fun!

1. Open a Draft PR and reference this issue so we know there is a WIP
2. If you have questions about the semantic conventions or porting guide ask them via this issue or join the the `#otel-ruby` channel in `cloud-native.slack.com`
3. The maintainers will review the PR and they approve it one of them will merge it.
4. 🥳

[2021-03-31 13:11] mmontalvo commented on #245
Thanks @arielvalentin!
Just joined the Slack channel 👍

[2021-03-31 13:41] fbogsany commented on #245
Thanks @mmontalvo - no updates on this yet - we'd ❤️ your contributions! I've assigned this issue to you.

[2021-03-31 13:42] mmontalvo commented on #245
Thanks @fbogsany!

[2021-03-31 14:48] drogus commented on #670
Thanks for all the info! It would be nice to have a way to inspect it in runtime, ie. some kind of method of saying: give me all the headers that currently installed extractors will look at.

[2021-03-31 15:45] fbogsany commented on #670
Once #638 merges, you'll be able to get the list of header keys to be inspected by installed propagators using:
[code]

[2021-03-31 15:46] #613 closed

[2021-03-31 18:56] drogus commented on #670
Awesome, thanks! I'm going to close for now. If I find any issue in OpenTelemetry itself I will reopen, but I think it might be a matter of using one of these headers in the rest client.

[2021-03-31 18:56] #670 closed

[2021-04-01 12:58] fhwang commented on #271
I believe we can close this issue, right? Looks like there are now very few references to Rack in instrumentations other than the Rack instrumentation.

[2021-04-01 13:25] #271 closed

[2021-04-01 13:45] fhwang commented on #197
I can give this a try 🙋

[2021-04-01 13:49] fbogsany commented on #197
Thanks @fhwang ! I've assigned it to you.

[2021-04-02 12:29] rishm069 opened #700 "Problem with running Rails instrumentation example"
I've encountered the following issue when tried to run the example from [here](https://github.com/open-telemetry/opentelemetry-ruby/blob/main/instrumentation/rails/example/trace_request_demonstration.ru):

[code]
I have been able to fix this by specifying branch on [this line](https://github.com/open-telemetry/opentelemetry-ruby/blob/main/instrumentation/rails/example/trace_request_demonstration.r

[2021-04-06 18:54] ahayworth commented on #700
Hi @rishm069 - thanks for the report! I've opened https://github.com/open-telemetry/opentelemetry-ruby/pull/704 to fix this (by just using the version of rails released to rubygems, rather than building it from source).

[2021-04-06 20:38] fbogsany opened #705 "Behaviour of Tracer#in_span"
Tracking issue for discussion originally posted by @mwear in https://github.com/open-telemetry/opentelemetry-ruby/discussions/703

[2021-04-06 20:53] fbogsany opened #706 "API Tracer auto-promotion to SDK Tracer"
Currently, if a `Tracer` instance is requested from `OpenTelemetry.tracer_provider` before the SDK is installed, a no-op API `Tracer` is returned. This instance will create no-op API `Span` instances in `#start_span`. Those spans will not be recorded, thereby breaking traces (child and parent spans may be recorded if their `Tracer` instances are "real" SDK tracers).

This is going to be a common s

[2021-04-08 07:06] #700 closed

[2021-04-09 14:04] fbogsany commented on #706
## Survey of other language SIGs

Go has a default `TracerProvider` implementation that delegates `Tracer` calls once the "real" `TracerProvider` is installed. It returns `Tracer` instances that delegate as well, after the "real" `TracerProvider` is installed: https://github.com/open-telemetry/opentelemetry-go/blob/main/internal/global/trace.go

Swift doesn't do anything special.

Python has a `Pr

[2021-04-09 14:09] fbogsany commented on #706
## Questions

- [ ] Should we permit the global `TracerProvider` to be set only once or many times?
- [ ] Should the default `Tracer` and `TracerProvider` instances be upgraded once or repeatedly (i.e. should they delegate to an instance variable or to whatever global instance is currently installed)?

[2021-04-09 17:40] arielvalentin commented on #706
This language seems to imply that the `Tracer` object instance must inherit the traits of any configuration changes, which I assert would mean the Tracer would likely need to have it's underlying implementation changed in a thread-safe way.

I have not read the spec very closely but what is unclear to me here is how this `Tracer` should behave if it is "switched" in mid-trace. E.g. if a trace is s

[2021-04-09 20:00] fbogsany commented on #706
The tracer really only participates in span creation. If a tracer is "promoted" mid-trace, then the trace will be broken (valid child spans may be created and recorded with a no-op parent span). This is an acceptable risk IMO because the alternatives are: create valid spans all the time, even if they're not going to be exported; or *don't* promote tracers and potentially always have broken traces.

[2021-04-12 12:44] arielvalentin commented on #706
Understood, but I think this constraint still applies though in those scenarios as well:

[2021-04-12 14:17] fbogsany commented on #706
It does. The API tracer provider has no configuration state, whereas the SDK tracer provider *does* have config state. The SDK tracers keep a reference to the tracer provider that created them. If you look at #708 the proxy tracer will delegate to a corresponding SDK tracer after the SDK tracer provider is plugged in. This is done behind the scenes and does not require the user to acquire a tracer

[2021-04-13 16:04] fbogsany opened #709 "Replace use of Time.now with Process.clock_gettime"
`Process.clock_gettime` is more efficient than `Time.now` because it returns a `Numeric` (a float or an integer) rather than a full `Time` object. The clocks of interest are:

1. `Process::CLOCK_REALTIME` - seconds since Epoch (1970-01-01 00:00:00 UTC).
2. `Process::CLOCK_MONOTONIC` - seconds elapsed since some arbitrary point in the past (e.g. system startup).

By default, it returns time in seco